In [1]:
%reset
import pandas as pd 
import numpy as np 
import ast
import os
import re
import sys
import ast
import glob
import itertools

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
graph=pd.read_csv('../data/graph.tsv', sep='\t')
graph=graph.loc[:, ~graph.columns.str.contains('^Unnamed')]
graph

               key                                             values
0        nm0000001  {'nm0949130': 2.5, 'nm0001677': 2.2, 'nm010356...
1        nm0000002  {'nm0150462': 2.0999999999999996, 'nm0000007':...
2        nm0000003  {'nm0131001': 4.3, 'nm0894677': 4.3, 'nm018135...
3        nm0000004  {'nm0161443': 3.2, 'nm0000101': 2.099999999999...
4        nm0000005  {'nm0090956': 2.7, 'nm0433512': 2.7, 'nm045803...
...            ...                                                ...
1131849  nm9993613  {'nm10720286': 4.0, 'nm5063862': 4.0, 'nm35495...
1131850  nm9993616  {'nm1391663': 3.5, 'nm7444538': 3.5, 'nm049125...
1131851  nm9993650  {'nm7144368': 4.8, 'nm2066212': 4.8, 'nm069022...
1131852  nm9993690  {'nm7815539': 3.5, 'nm1666585': 3.5, 'nm999369...
1131853  nm9993691  {'nm7815539': 3.5, 'nm1666585': 3.5, 'nm780397...

[1131854 rows x 2 columns]

In [3]:
%%time
graph['values']=graph['values'].apply(lambda x: ast.literal_eval(x))

Wall time: 1min 55s

In [4]:
%%time
graph['values']=graph['values'].apply(lambda x: list(x.items()))
graph

Wall time: 6.3 s

               key                                             values
0        nm0000001  [(nm0949130, 2.5), (nm0001677, 2.2), (nm010356...
1        nm0000002  [(nm0150462, 2.0999999999999996), (nm0000007, ...
2        nm0000003  [(nm0131001, 4.3), (nm0894677, 4.3), (nm018135...
3        nm0000004  [(nm0161443, 3.2), (nm0000101, 2.0999999999999...
4        nm0000005  [(nm0090956, 2.7), (nm0433512, 2.7), (nm045803...
...            ...                                                ...
1131849  nm9993613  [(nm10720286, 4.0), (nm5063862, 4.0), (nm35495...
1131850  nm9993616  [(nm1391663, 3.5), (nm7444538, 3.5), (nm049125...
1131851  nm9993650  [(nm7144368, 4.8), (nm2066212, 4.8), (nm069022...
1131852  nm9993690  [(nm7815539, 3.5), (nm1666585, 3.5), (nm999369...
1131853  nm9993691  [(nm7815539, 3.5), (nm1666585, 3.5), (nm780397...

[1131854 rows x 2 columns]

In [5]:
new_graph=graph.explode('values')
new_graph

               key            values
0        nm0000001  (nm0949130, 2.5)
0        nm0000001  (nm0001677, 2.2)
0        nm0000001  (nm0103567, 2.5)
0        nm0000001  (nm0002143, 2.2)
0        nm0000001  (nm0762263, 2.2)
...            ...               ...
1131853  nm9993691  (nm3021672, 3.5)
1131853  nm9993691  (nm1093120, 3.5)
1131853  nm9993691  (nm0805948, 3.5)
1131853  nm9993691  (nm5625978, 3.5)
1131853  nm9993691  (nm4236548, 3.5)

[23224173 rows x 2 columns]

In [6]:
%%time
#Multi-indexing 
new_graph[["to_node", "value"]]= pd.DataFrame(new_graph["values"].values.tolist(), index=new_graph.index)
new_graph.drop(columns=["values"], inplace=True)
new_graph.set_index(keys=["key", "to_node"], drop= True, inplace=True)

Wall time: 21.8 s

In [7]:
new_graph

                     value
key       to_node
nm0000001 nm0949130    2.5
          nm0001677    2.2
          nm0103567    2.5
          nm0002143    2.2
          nm0762263    2.2
...                    ...
nm9993691 nm3021672    3.5
          nm1093120    3.5
          nm0805948    3.5
          nm5625978    3.5
          nm4236548    3.5

[23224173 rows x 1 columns]

In [ ]:
#new_graph.loc['nm0762263','nm0544987']

In [8]:
path = r'../data' # use your path
all_files = glob.glob(path + "/*_actor3.tsv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, sep="\t", header=0)
    li.append(df)

In [9]:
#Choosing only top 25 actors from {}_actor.tsv
for i in range(len(li)):
    li[i]=li[i].head(25)

In [10]:
IDs=[]
for i in range(len(li)):
    ids=[]
    for j in range(len(li[i])):
        ids.append((li[i].iloc[j])[0])
    IDs.append(ids)
IDs

[['nm0538320',
  'nm0434596',
  'nm0477209',
  'nm0451148',
  'nm0072949',
  'nm0000375',
  'nm1323287',
  'nm0626362',
  'nm0023832',
  'nm0001187',
  'nm0837501',
  'nm0559105',
  'nm0876805',
  'nm0290432',
  'nm0609403',
  'nm0920992',
  'nm0378112',
  'nm0782213',
  'nm0431259',
  'nm0001083',
  'nm0001218',
  'nm1488529',
  'nm0530365',
  'nm0586568',
  'nm0338886'],
 ['nm1310016',
  'nm0411692',
  'nm0098709',
  'nm1092086',
  'nm1069415',
  'nm0836137',
  'nm0246585',
  'nm0002364',
  'nm0640560',
  'nm0027942',
  'nm0361546',
  'nm2985299',
  'nm1243922',
  'nm2590720',
  'nm0006801',
  'nm1375877',
  'nm1421814',
  'nm1215153',
  'nm0465273',
  'nm0071275',
  'nm0462735',
  'nm1016966',
  'nm0254392',
  'nm1121870',
  'nm0384211'],
 ['nm0387581',
  'nm1137209',
  'nm2570245',
  'nm1489950',
  'nm3345824',
  'nm1432049',
  'nm0594497',
  'nm1659547',
  'nm0461136',
  'nm0836684',
  'nm1913734',
  'nm0288800',
  'nm0880367',
  'nm0447695',
  'nm1999369',
  'nm1821791',
  'nm2401938',
  'nm3949541',
  'nm3708145',
  'nm2933757',
  'nm0683467',
  'nm2244205',
  'nm4533391',
  'nm0466936',
  'nm1480573']]

In [11]:
def relation_score(a,b,new_graph):
    
    #Checking if a and b have acted together
    d=(new_graph.loc[a]).to_dict()
    to_node=[]
    for k,v in d.items():
        for l,m in v.items():
            to_node.append(l)

    if b in to_node:
        #This is the starting step
        step = {
            "node": a,
            "value": 0,
            "distance": 0,
            "values": [],
            "cost": 0,
            "prev": ""
        }

        # This is all of the nodes we already found the shortest path to
        finished = {}
        # This is the next steps to consider
        queue = [step]
        # This is basically Dijkstra's shortest path algorithm
        while len(queue) > 0:
            # Take the node with the lowest cost
            queue.sort(key=lambda x: x["cost"], reverse=True)
            current = queue.pop()
            # When you take a node from the queue it means that you have found the shortest path to that node.
            finished[current["node"]] = current
            #print("Looking at " + current["node"] + ", distance: " + str(current["distance"]) + ", cost: " + str(current["cost"]))
            # Stop when we find b
            if current["node"] == b:
                #print("Found path to {} :D".format(b))
                break
            # The distance to the next nodes is 1 more than the distance to this node
            new_dist = current["distance"] + 1
            # Values is a list of the graph values so that we can calculate the average when we are calculating the cost
            new_values = current["values"]
            # Find all of the edges from this node to it's neighbours as dict
            d=(new_graph.loc[a]).to_dict()
            for k,v in d.items():
                edges=v   
            for edge in edges:
                # If the edge is in finished it means that we already found a shorter path to that node
                if finished.get(edge): continue
                val = edges[edge]
                vals = new_values + [val]
                # Our scores (genre_score, similarity) are between 0 and 10. So we want this score to be in that range aswell.
                # The distance (11 - new_dist) means that shorter paths are preferred, A->B->C=9 instead of A->E->F->C=8.
                # (10 - sum(vals)/new_dist) is 10 - avg of the scores from the graph. The graph values are the opposite
                # of the rating, so a rating of 7 => 3, 9.5 => 0.5. This is done because we want to find the shortest path between actors.
                # If we didn't do this then the path would always try to visit every actor before finding christian. This is why we
                # subtract the average of the two numbers from 10. 
                cost = 10 - (11 - new_dist + 10 - sum(vals)/new_dist) / 2

                new_step = {
                    "node": edge,
                    "value": val,
                    "distance": new_dist,
                    "values": vals,
                    "cost": cost,
                    "prev": current["node"]
                }

                in_queue = False
                # Check if it is already in the queue, if it is and this cost is lower it should be updated
                for i in range(len(queue)):
                    if queue[i]["node"] == edge:
                        if queue[i]["cost"] > new_step["cost"]:
                            queue[i] = new_step
                        in_queue = True
                        break
                if in_queue: continue
                # If the edge was not in the queue it is added.
                queue.append(new_step)


        actor = b
        path = []
        while actor != "":
            path.append(actor)
            actor = finished[actor]["prev"]
        path = list(reversed(path))
        score=(10 - finished[b]["cost"])
        #print("Leonardo-Christian score: " + str(10 - finished[christian]["cost"]))
    
    else:
        score=0.0

    return(score)

In [12]:
Id_list = list(itertools.product(*IDs))
Id_list

[('nm0538320', 'nm1310016', 'nm0387581'),
 ('nm0538320', 'nm1310016', 'nm1137209'),
 ('nm0538320', 'nm1310016', 'nm2570245'),
 ('nm0538320', 'nm1310016', 'nm1489950'),
 ('nm0538320', 'nm1310016', 'nm3345824'),
 ('nm0538320', 'nm1310016', 'nm1432049'),
 ('nm0538320', 'nm1310016', 'nm0594497'),
 ('nm0538320', 'nm1310016', 'nm1659547'),
 ('nm0538320', 'nm1310016', 'nm0461136'),
 ('nm0538320', 'nm1310016', 'nm0836684'),
 ('nm0538320', 'nm1310016', 'nm1913734'),
 ('nm0538320', 'nm1310016', 'nm0288800'),
 ('nm0538320', 'nm1310016', 'nm0880367'),
 ('nm0538320', 'nm1310016', 'nm0447695'),
 ('nm0538320', 'nm1310016', 'nm1999369'),
 ('nm0538320', 'nm1310016', 'nm1821791'),
 ('nm0538320', 'nm1310016', 'nm2401938'),
 ('nm0538320', 'nm1310016', 'nm3949541'),
 ('nm0538320', 'nm1310016', 'nm3708145'),
 ('nm0538320', 'nm1310016', 'nm2933757'),
 ('nm0538320', 'nm1310016', 'nm0683467'),
 ('nm0538320', 'nm1310016', 'nm2244205'),
 ('nm0538320', 'nm1310016', 'nm4533391'),
 ('nm0538320', 'nm1310016', 'nm0466936'),
 ('nm0538320', 'nm1310016', 'nm1480573'),
 ('nm0538320', 'nm0411692', 'nm0387581'),
 ('nm0538320', 'nm0411692', 'nm1137209'),
 ('nm0538320', 'nm0411692', 'nm2570245'),
 ('nm0538320', 'nm0411692', 'nm1489950'),
 ('nm0538320', 'nm0411692', 'nm3345824'),
 ('nm0538320', 'nm0411692', 'nm1432049'),
 ('nm0538320', 'nm0411692', 'nm0594497'),
 ('nm0538320', 'nm0411692', 'nm1659547'),
 ('nm0538320', 'nm0411692', 'nm0461136'),
 ('nm0538320', 'nm0411692', 'nm0836684'),
 ('nm0538320', 'nm0411692', 'nm1913734'),
 ('nm0538320', 'nm0411692', 'nm0288800'),
 ('nm0538320', 'nm0411692', 'nm0880367'),
 ('nm0538320', 'nm0411692', 'nm0447695'),
 ('nm0538320', 'nm0411692', 'nm1999369'),
 ('nm0538320', 'nm0411692', 'nm1821791'),
 ('nm0538320', 'nm0411692', 'nm2401938'),
 ('nm0538320', 'nm0411692', 'nm3949541'),
 ('nm0538320', 'nm0411692', 'nm3708145'),
 ('nm0538320', 'nm0411692', 'nm2933757'),
 ('nm0538320', 'nm0411692', 'nm0683467'),
 ('nm0538320', 'nm0411692', 'nm2244205'),
 ('nm0538320', 'nm0411692', 'nm4533391'),
 ('nm0538320', 'nm0411692', 'nm0466936'),
 ('nm0538320', 'nm0411692', 'nm1480573'),
 ('nm0538320', 'nm0098709', 'nm0387581'),
 ('nm0538320', 'nm0098709', 'nm1137209'),
 ('nm0538320', 'nm0098709', 'nm2570245'),
 ('nm0538320', 'nm0098709', 'nm1489950'),
 ('nm0538320', 'nm0098709', 'nm3345824'),
 ('nm0538320', 'nm0098709', 'nm1432049'),
 ('nm0538320', 'nm0098709', 'nm0594497'),
 ('nm0538320', 'nm0098709', 'nm1659547'),
 ('nm0538320', 'nm0098709', 'nm0461136'),
 ('nm0538320', 'nm0098709', 'nm0836684'),
 ('nm0538320', 'nm0098709', 'nm1913734'),
 ('nm0538320', 'nm0098709', 'nm0288800'),
 ('nm0538320', 'nm0098709', 'nm0880367'),
 ('nm0538320', 'nm0098709', 'nm0447695'),
 ('nm0538320', 'nm0098709', 'nm1999369'),
 ('nm0538320', 'nm0098709', 'nm1821791'),
 ('nm0538320', 'nm0098709', 'nm2401938'),
 ('nm0538320', 'nm0098709', 'nm3949541'),
 ('nm0538320', 'nm0098709', 'nm3708145'),
 ('nm0538320', 'nm0098709', 'nm2933757'),
 ('nm0538320', 'nm0098709', 'nm0683467'),
 ('nm0538320', 'nm0098709', 'nm2244205'),
 ('nm0538320', 'nm0098709', 'nm4533391'),
 ('nm0538320', 'nm0098709', 'nm0466936'),
 ('nm0538320', 'nm0098709', 'nm1480573'),
 ('nm0538320', 'nm1092086', 'nm0387581'),
 ('nm0538320', 'nm1092086', 'nm1137209'),
 ('nm0538320', 'nm1092086', 'nm2570245'),
 ('nm0538320', 'nm1092086', 'nm1489950'),
 ('nm0538320', 'nm1092086', 'nm3345824'),
 ('nm0538320', 'nm1092086', 'nm1432049'),
 ('nm0538320', 'nm1092086', 'nm0594497'),
 ('nm0538320', 'nm1092086', 'nm1659547'),
 ('nm0538320', 'nm1092086', 'nm0461136'),
 ('nm0538320', 'nm1092086', 'nm0836684'),
 ('nm0538320', 'nm1092086', 'nm1913734'),
 ('nm0538320', 'nm1092086', 'nm0288800'),
 ('nm0538320', 'nm1092086', 'nm0880367'),
 ('nm0538320', 'nm1092086', 'nm0447695'),
 ('nm0538320', 'nm1092086', 'nm1999369'),
 ('nm0538320', 'nm1092086', 'nm1821791'),
 ('nm0538320', 'nm1092086', 'nm2401938'),
 ('nm0538320', 'nm1092086', 'nm3949541'),
 ('nm0538320', 'nm1092086', 'nm3708145'),
 ('nm0538320', 'nm1092086', 'nm2933757'),
 ('nm0538320', 'nm1092086', 'nm0683467'),
 ('nm0538320', 'nm1092086', 'nm2244205'),
 ('nm0538320', 'nm1092086', 'nm4533391'),
 ('nm0538320', 'nm1092086', 'nm0466936'),
 ('nm0538320', 'nm1092086', 'nm1480573'),
 ('nm0538320', 'nm1069415', 'nm0387581'),
 ('nm0538320', 'nm1069415', 'nm1137209'),
 ('nm0538320', 'nm1069415', 'nm2570245'),
 ('nm0538320', 'nm1069415', 'nm1489950'),
 ('nm0538320', 'nm1069415', 'nm3345824'),
 ('nm0538320', 'nm1069415', 'nm1432049'),
 ('nm0538320', 'nm1069415', 'nm0594497'),
 ('nm0538320', 'nm1069415', 'nm1659547'),
 ('nm0538320', 'nm1069415', 'nm0461136'),
 ('nm0538320', 'nm1069415', 'nm0836684'),
 ('nm0538320', 'nm1069415', 'nm1913734'),
 ('nm0538320', 'nm1069415', 'nm0288800'),
 ('nm0538320', 'nm1069415', 'nm0880367'),
 ('nm0538320', 'nm1069415', 'nm0447695'),
 ('nm0538320', 'nm1069415', 'nm1999369'),
 ('nm0538320', 'nm1069415', 'nm1821791'),
 ('nm0538320', 'nm1069415', 'nm2401938'),
 ('nm0538320', 'nm1069415', 'nm3949541'),
 ('nm0538320', 'nm1069415', 'nm3708145'),
 ('nm0538320', 'nm1069415', 'nm2933757'),
 ('nm0538320', 'nm1069415', 'nm0683467'),
 ('nm0538320', 'nm1069415', 'nm2244205'),
 ('nm0538320', 'nm1069415', 'nm4533391'),
 ('nm0538320', 'nm1069415', 'nm0466936'),
 ('nm0538320', 'nm1069415', 'nm1480573'),
 ('nm0538320', 'nm0836137', 'nm0387581'),
 ('nm0538320', 'nm0836137', 'nm1137209'),
 ('nm0538320', 'nm0836137', 'nm2570245'),
 ('nm0538320', 'nm0836137', 'nm1489950'),
 ('nm0538320', 'nm0836137', 'nm3345824'),
 ('nm0538320', 'nm0836137', 'nm1432049'),
 ('nm0538320', 'nm0836137', 'nm0594497'),
 ('nm0538320', 'nm0836137', 'nm1659547'),
 ('nm0538320', 'nm0836137', 'nm0461136'),
 ('nm0538320', 'nm0836137', 'nm0836684'),
 ('nm0538320', 'nm0836137', 'nm1913734'),
 ('nm0538320', 'nm0836137', 'nm0288800'),
 ('nm0538320', 'nm0836137', 'nm0880367'),
 ('nm0538320', 'nm0836137', 'nm0447695'),
 ('nm0538320', 'nm0836137', 'nm1999369'),
 ('nm0538320', 'nm0836137', 'nm1821791'),
 ('nm0538320', 'nm0836137', 'nm2401938'),
 ('nm0538320', 'nm0836137', 'nm3949541'),
 ('nm0538320', 'nm0836137', 'nm3708145'),
 ('nm0538320', 'nm0836137', 'nm2933757'),
 ('nm0538320', 'nm0836137', 'nm0683467'),
 ('nm0538320', 'nm0836137', 'nm2244205'),
 ('nm0538320', 'nm0836137', 'nm4533391'),
 ('nm0538320', 'nm0836137', 'nm0466936'),
 ('nm0538320', 'nm0836137', 'nm1480573'),
 ('nm0538320', 'nm0246585', 'nm0387581'),
 ('nm0538320', 'nm0246585', 'nm1137209'),
 ('nm0538320', 'nm0246585', 'nm2570245'),
 ('nm0538320', 'nm0246585', 'nm1489950'),
 ('nm0538320', 'nm0246585', 'nm3345824'),
 ('nm0538320', 'nm0246585', 'nm1432049'),
 ('nm0538320', 'nm0246585', 'nm0594497'),
 ('nm0538320', 'nm0246585', 'nm1659547'),
 ('nm0538320', 'nm0246585', 'nm0461136'),
 ('nm0538320', 'nm0246585', 'nm0836684'),
 ('nm0538320', 'nm0246585', 'nm1913734'),
 ('nm0538320', 'nm0246585', 'nm0288800'),
 ('nm0538320', 'nm0246585', 'nm0880367'),
 ('nm0538320', 'nm0246585', 'nm0447695'),
 ('nm0538320', 'nm0246585', 'nm1999369'),
 ('nm0538320', 'nm0246585', 'nm1821791'),
 ('nm0538320', 'nm0246585', 'nm2401938'),
 ('nm0538320', 'nm0246585', 'nm3949541'),
 ('nm0538320', 'nm0246585', 'nm3708145'),
 ('nm0538320', 'nm0246585', 'nm2933757'),
 ('nm0538320', 'nm0246585', 'nm0683467'),
 ('nm0538320', 'nm0246585', 'nm2244205'),
 ('nm0538320', 'nm0246585', 'nm4533391'),
 ('nm0538320', 'nm0246585', 'nm0466936'),
 ('nm0538320', 'nm0246585', 'nm1480573'),
 ('nm0538320', 'nm0002364', 'nm0387581'),
 ('nm0538320', 'nm0002364', 'nm1137209'),
 ('nm0538320', 'nm0002364', 'nm2570245'),
 ('nm0538320', 'nm0002364', 'nm1489950'),
 ('nm0538320', 'nm0002364', 'nm3345824'),
 ('nm0538320', 'nm0002364', 'nm1432049'),
 ('nm0538320', 'nm0002364', 'nm0594497'),
 ('nm0538320', 'nm0002364', 'nm1659547'),
 ('nm0538320', 'nm0002364', 'nm0461136'),
 ('nm0538320', 'nm0002364', 'nm0836684'),
 ('nm0538320', 'nm0002364', 'nm1913734'),
 ('nm0538320', 'nm0002364', 'nm0288800'),
 ('nm0538320', 'nm0002364', 'nm0880367'),
 ('nm0538320', 'nm0002364', 'nm0447695'),
 ('nm0538320', 'nm0002364', 'nm1999369'),
 ('nm0538320', 'nm0002364', 'nm1821791'),
 ('nm0538320', 'nm0002364', 'nm2401938'),
 ('nm0538320', 'nm0002364', 'nm3949541'),
 ('nm0538320', 'nm0002364', 'nm3708145'),
 ('nm0538320', 'nm0002364', 'nm2933757'),
 ('nm0538320', 'nm0002364', 'nm0683467'),
 ('nm0538320', 'nm0002364', 'nm2244205'),
 ('nm0538320', 'nm0002364', 'nm4533391'),
 ('nm0538320', 'nm0002364', 'nm0466936'),
 ('nm0538320', 'nm0002364', 'nm1480573'),
 ('nm0538320', 'nm0640560', 'nm0387581'),
 ('nm0538320', 'nm0640560', 'nm1137209'),
 ('nm0538320', 'nm0640560', 'nm2570245'),
 ('nm0538320', 'nm0640560', 'nm1489950'),
 ('nm0538320', 'nm0640560', 'nm3345824'),
 ('nm0538320', 'nm0640560', 'nm1432049'),
 ('nm0538320', 'nm0640560', 'nm0594497'),
 ('nm0538320', 'nm0640560', 'nm1659547'),
 ('nm0538320', 'nm0640560', 'nm0461136'),
 ('nm0538320', 'nm0640560', 'nm0836684'),
 ('nm0538320', 'nm0640560', 'nm1913734'),
 ('nm0538320', 'nm0640560', 'nm0288800'),
 ('nm0538320', 'nm0640560', 'nm0880367'),
 ('nm0538320', 'nm0640560', 'nm0447695'),
 ('nm0538320', 'nm0640560', 'nm1999369'),
 ('nm0538320', 'nm0640560', 'nm1821791'),
 ('nm0538320', 'nm0640560', 'nm2401938'),
 ('nm0538320', 'nm0640560', 'nm3949541'),
 ('nm0538320', 'nm0640560', 'nm3708145'),
 ('nm0538320', 'nm0640560', 'nm2933757'),
 ('nm0538320', 'nm0640560', 'nm0683467'),
 ('nm0538320', 'nm0640560', 'nm2244205'),
 ('nm0538320', 'nm0640560', 'nm4533391'),
 ('nm0538320', 'nm0640560', 'nm0466936'),
 ('nm0538320', 'nm0640560', 'nm1480573'),
 ('nm0538320', 'nm0027942', 'nm0387581'),
 ('nm0538320', 'nm0027942', 'nm1137209'),
 ('nm0538320', 'nm0027942', 'nm2570245'),
 ('nm0538320', 'nm0027942', 'nm1489950'),
 ('nm0538320', 'nm0027942', 'nm3345824'),
 ('nm0538320', 'nm0027942', 'nm1432049'),
 ('nm0538320', 'nm0027942', 'nm0594497'),
 ('nm0538320', 'nm0027942', 'nm1659547'),
 ('nm0538320', 'nm0027942', 'nm0461136'),
 ('nm0538320', 'nm0027942', 'nm0836684'),
 ('nm0538320', 'nm0027942', 'nm1913734'),
 ('nm0538320', 'nm0027942', 'nm0288800'),
 ('nm0538320', 'nm0027942', 'nm0880367'),
 ('nm0538320', 'nm0027942', 'nm0447695'),
 ('nm0538320', 'nm0027942', 'nm1999369'),
 ('nm0538320', 'nm0027942', 'nm1821791'),
 ('nm0538320', 'nm0027942', 'nm2401938'),
 ('nm0538320', 'nm0027942', 'nm3949541'),
 ('nm0538320', 'nm0027942', 'nm3708145'),
 ('nm0538320', 'nm0027942', 'nm2933757'),
 ('nm0538320', 'nm0027942', 'nm0683467'),
 ('nm0538320', 'nm0027942', 'nm2244205'),
 ('nm0538320', 'nm0027942', 'nm4533391'),
 ('nm0538320', 'nm0027942', 'nm0466936'),
 ('nm0538320', 'nm0027942', 'nm1480573'),
 ('nm0538320', 'nm0361546', 'nm0387581'),
 ('nm0538320', 'nm0361546', 'nm1137209'),
 ('nm0538320', 'nm0361546', 'nm2570245'),
 ('nm0538320', 'nm0361546', 'nm1489950'),
 ('nm0538320', 'nm0361546', 'nm3345824'),
 ('nm0538320', 'nm0361546', 'nm1432049'),
 ('nm0538320', 'nm0361546', 'nm0594497'),
 ('nm0538320', 'nm0361546', 'nm1659547'),
 ('nm0538320', 'nm0361546', 'nm0461136'),
 ('nm0538320', 'nm0361546', 'nm0836684'),
 ('nm0538320', 'nm0361546', 'nm1913734'),
 ('nm0538320', 'nm0361546', 'nm0288800'),
 ('nm0538320', 'nm0361546', 'nm0880367'),
 ('nm0538320', 'nm0361546', 'nm0447695'),
 ('nm0538320', 'nm0361546', 'nm1999369'),
 ('nm0538320', 'nm0361546', 'nm1821791'),
 ('nm0538320', 'nm0361546', 'nm2401938'),
 ('nm0538320', 'nm0361546', 'nm3949541'),
 ('nm0538320', 'nm0361546', 'nm3708145'),
 ('nm0538320', 'nm0361546', 'nm2933757'),
 ('nm0538320', 'nm0361546', 'nm0683467'),
 ('nm0538320', 'nm0361546', 'nm2244205'),
 ('nm0538320', 'nm0361546', 'nm4533391'),
 ('nm0538320', 'nm0361546', 'nm0466936'),
 ('nm0538320', 'nm0361546', 'nm1480573'),
 ('nm0538320', 'nm2985299', 'nm0387581'),
 ('nm0538320', 'nm2985299', 'nm1137209'),
 ('nm0538320', 'nm2985299', 'nm2570245'),
 ('nm0538320', 'nm2985299', 'nm1489950'),
 ('nm0538320', 'nm2985299', 'nm3345824'),
 ('nm0538320', 'nm2985299', 'nm1432049'),
 ('nm0538320', 'nm2985299', 'nm0594497'),
 ('nm0538320', 'nm2985299', 'nm1659547'),
 ('nm0538320', 'nm2985299', 'nm0461136'),
 ('nm0538320', 'nm2985299', 'nm0836684'),
 ('nm0538320', 'nm2985299', 'nm1913734'),
 ('nm0538320', 'nm2985299', 'nm0288800'),
 ('nm0538320', 'nm2985299', 'nm0880367'),
 ('nm0538320', 'nm2985299', 'nm0447695'),
 ('nm0538320', 'nm2985299', 'nm1999369'),
 ('nm0538320', 'nm2985299', 'nm1821791'),
 ('nm0538320', 'nm2985299', 'nm2401938'),
 ('nm0538320', 'nm2985299', 'nm3949541'),
 ('nm0538320', 'nm2985299', 'nm3708145'),
 ('nm0538320', 'nm2985299', 'nm2933757'),
 ('nm0538320', 'nm2985299', 'nm0683467'),
 ('nm0538320', 'nm2985299', 'nm2244205'),
 ('nm0538320', 'nm2985299', 'nm4533391'),
 ('nm0538320', 'nm2985299', 'nm0466936'),
 ('nm0538320', 'nm2985299', 'nm1480573'),
 ('nm0538320', 'nm1243922', 'nm0387581'),
 ('nm0538320', 'nm1243922', 'nm1137209'),
 ('nm0538320', 'nm1243922', 'nm2570245'),
 ('nm0538320', 'nm1243922', 'nm1489950'),
 ('nm0538320', 'nm1243922', 'nm3345824'),
 ('nm0538320', 'nm1243922', 'nm1432049'),
 ('nm0538320', 'nm1243922', 'nm0594497'),
 ('nm0538320', 'nm1243922', 'nm1659547'),
 ('nm0538320', 'nm1243922', 'nm0461136'),
 ('nm0538320', 'nm1243922', 'nm0836684'),
 ('nm0538320', 'nm1243922', 'nm1913734'),
 ('nm0538320', 'nm1243922', 'nm0288800'),
 ('nm0538320', 'nm1243922', 'nm0880367'),
 ('nm0538320', 'nm1243922', 'nm0447695'),
 ('nm0538320', 'nm1243922', 'nm1999369'),
 ('nm0538320', 'nm1243922', 'nm1821791'),
 ('nm0538320', 'nm1243922', 'nm2401938'),
 ('nm0538320', 'nm1243922', 'nm3949541'),
 ('nm0538320', 'nm1243922', 'nm3708145'),
 ('nm0538320', 'nm1243922', 'nm2933757'),
 ('nm0538320', 'nm1243922', 'nm0683467'),
 ('nm0538320', 'nm1243922', 'nm2244205'),
 ('nm0538320', 'nm1243922', 'nm4533391'),
 ('nm0538320', 'nm1243922', 'nm0466936'),
 ('nm0538320', 'nm1243922', 'nm1480573'),
 ('nm0538320', 'nm2590720', 'nm0387581'),
 ('nm0538320', 'nm2590720', 'nm1137209'),
 ('nm0538320', 'nm2590720', 'nm2570245'),
 ('nm0538320', 'nm2590720', 'nm1489950'),
 ('nm0538320', 'nm2590720', 'nm3345824'),
 ('nm0538320', 'nm2590720', 'nm1432049'),
 ('nm0538320', 'nm2590720', 'nm0594497'),
 ('nm0538320', 'nm2590720', 'nm1659547'),
 ('nm0538320', 'nm2590720', 'nm0461136'),
 ('nm0538320', 'nm2590720', 'nm0836684'),
 ('nm0538320', 'nm2590720', 'nm1913734'),
 ('nm0538320', 'nm2590720', 'nm0288800'),
 ('nm0538320', 'nm2590720', 'nm0880367'),
 ('nm0538320', 'nm2590720', 'nm0447695'),
 ('nm0538320', 'nm2590720', 'nm1999369'),
 ('nm0538320', 'nm2590720', 'nm1821791'),
 ('nm0538320', 'nm2590720', 'nm2401938'),
 ('nm0538320', 'nm2590720', 'nm3949541'),
 ('nm0538320', 'nm2590720', 'nm3708145'),
 ('nm0538320', 'nm2590720', 'nm2933757'),
 ('nm0538320', 'nm2590720', 'nm0683467'),
 ('nm0538320', 'nm2590720', 'nm2244205'),
 ('nm0538320', 'nm2590720', 'nm4533391'),
 ('nm0538320', 'nm2590720', 'nm0466936'),
 ('nm0538320', 'nm2590720', 'nm1480573'),
 ('nm0538320', 'nm0006801', 'nm0387581'),
 ('nm0538320', 'nm0006801', 'nm1137209'),
 ('nm0538320', 'nm0006801', 'nm2570245'),
 ('nm0538320', 'nm0006801', 'nm1489950'),
 ('nm0538320', 'nm0006801', 'nm3345824'),
 ('nm0538320', 'nm0006801', 'nm1432049'),
 ('nm0538320', 'nm0006801', 'nm0594497'),
 ('nm0538320', 'nm0006801', 'nm1659547'),
 ('nm0538320', 'nm0006801', 'nm0461136'),
 ('nm0538320', 'nm0006801', 'nm0836684'),
 ('nm0538320', 'nm0006801', 'nm1913734'),
 ('nm0538320', 'nm0006801', 'nm0288800'),
 ('nm0538320', 'nm0006801', 'nm0880367'),
 ('nm0538320', 'nm0006801', 'nm0447695'),
 ('nm0538320', 'nm0006801', 'nm1999369'),
 ('nm0538320', 'nm0006801', 'nm1821791'),
 ('nm0538320', 'nm0006801', 'nm2401938'),
 ('nm0538320', 'nm0006801', 'nm3949541'),
 ('nm0538320', 'nm0006801', 'nm3708145'),
 ('nm0538320', 'nm0006801', 'nm2933757'),
 ('nm0538320', 'nm0006801', 'nm0683467'),
 ('nm0538320', 'nm0006801', 'nm2244205'),
 ('nm0538320', 'nm0006801', 'nm4533391'),
 ('nm0538320', 'nm0006801', 'nm0466936'),
 ('nm0538320', 'nm0006801', 'nm1480573'),
 ('nm0538320', 'nm1375877', 'nm0387581'),
 ('nm0538320', 'nm1375877', 'nm1137209'),
 ('nm0538320', 'nm1375877', 'nm2570245'),
 ('nm0538320', 'nm1375877', 'nm1489950'),
 ('nm0538320', 'nm1375877', 'nm3345824'),
 ('nm0538320', 'nm1375877', 'nm1432049'),
 ('nm0538320', 'nm1375877', 'nm0594497'),
 ('nm0538320', 'nm1375877', 'nm1659547'),
 ('nm0538320', 'nm1375877', 'nm0461136'),
 ('nm0538320', 'nm1375877', 'nm0836684'),
 ('nm0538320', 'nm1375877', 'nm1913734'),
 ('nm0538320', 'nm1375877', 'nm0288800'),
 ('nm0538320', 'nm1375877', 'nm0880367'),
 ('nm0538320', 'nm1375877', 'nm0447695'),
 ('nm0538320', 'nm1375877', 'nm1999369'),
 ('nm0538320', 'nm1375877', 'nm1821791'),
 ('nm0538320', 'nm1375877', 'nm2401938'),
 ('nm0538320', 'nm1375877', 'nm3949541'),
 ('nm0538320', 'nm1375877', 'nm3708145'),
 ('nm0538320', 'nm1375877', 'nm2933757'),
 ('nm0538320', 'nm1375877', 'nm0683467'),
 ('nm0538320', 'nm1375877', 'nm2244205'),
 ('nm0538320', 'nm1375877', 'nm4533391'),
 ('nm0538320', 'nm1375877', 'nm0466936'),
 ('nm0538320', 'nm1375877', 'nm1480573'),
 ('nm0538320', 'nm1421814', 'nm0387581'),
 ('nm0538320', 'nm1421814', 'nm1137209'),
 ('nm0538320', 'nm1421814', 'nm2570245'),
 ('nm0538320', 'nm1421814', 'nm1489950'),
 ('nm0538320', 'nm1421814', 'nm3345824'),
 ('nm0538320', 'nm1421814', 'nm1432049'),
 ('nm0538320', 'nm1421814', 'nm0594497'),
 ('nm0538320', 'nm1421814', 'nm1659547'),
 ('nm0538320', 'nm1421814', 'nm0461136'),
 ('nm0538320', 'nm1421814', 'nm0836684'),
 ('nm0538320', 'nm1421814', 'nm1913734'),
 ('nm0538320', 'nm1421814', 'nm0288800'),
 ('nm0538320', 'nm1421814', 'nm0880367'),
 ('nm0538320', 'nm1421814', 'nm0447695'),
 ('nm0538320', 'nm1421814', 'nm1999369'),
 ('nm0538320', 'nm1421814', 'nm1821791'),
 ('nm0538320', 'nm1421814', 'nm2401938'),
 ('nm0538320', 'nm1421814', 'nm3949541'),
 ('nm0538320', 'nm1421814', 'nm3708145'),
 ('nm0538320', 'nm1421814', 'nm2933757'),
 ('nm0538320', 'nm1421814', 'nm0683467'),
 ('nm0538320', 'nm1421814', 'nm2244205'),
 ('nm0538320', 'nm1421814', 'nm4533391'),
 ('nm0538320', 'nm1421814', 'nm0466936'),
 ('nm0538320', 'nm1421814', 'nm1480573'),
 ('nm0538320', 'nm1215153', 'nm0387581'),
 ('nm0538320', 'nm1215153', 'nm1137209'),
 ('nm0538320', 'nm1215153', 'nm2570245'),
 ('nm0538320', 'nm1215153', 'nm1489950'),
 ('nm0538320', 'nm1215153', 'nm3345824'),
 ('nm0538320', 'nm1215153', 'nm1432049'),
 ('nm0538320', 'nm1215153', 'nm0594497'),
 ('nm0538320', 'nm1215153', 'nm1659547'),
 ('nm0538320', 'nm1215153', 'nm0461136'),
 ('nm0538320', 'nm1215153', 'nm0836684'),
 ('nm0538320', 'nm1215153', 'nm1913734'),
 ('nm0538320', 'nm1215153', 'nm0288800'),
 ('nm0538320', 'nm1215153', 'nm0880367'),
 ('nm0538320', 'nm1215153', 'nm0447695'),
 ('nm0538320', 'nm1215153', 'nm1999369'),
 ('nm0538320', 'nm1215153', 'nm1821791'),
 ('nm0538320', 'nm1215153', 'nm2401938'),
 ('nm0538320', 'nm1215153', 'nm3949541'),
 ('nm0538320', 'nm1215153', 'nm3708145'),
 ('nm0538320', 'nm1215153', 'nm2933757'),
 ('nm0538320', 'nm1215153', 'nm0683467'),
 ('nm0538320', 'nm1215153', 'nm2244205'),
 ('nm0538320', 'nm1215153', 'nm4533391'),
 ('nm0538320', 'nm1215153', 'nm0466936'),
 ('nm0538320', 'nm1215153', 'nm1480573'),
 ('nm0538320', 'nm0465273', 'nm0387581'),
 ('nm0538320', 'nm0465273', 'nm1137209'),
 ('nm0538320', 'nm0465273', 'nm2570245'),
 ('nm0538320', 'nm0465273', 'nm1489950'),
 ('nm0538320', 'nm0465273', 'nm3345824'),
 ('nm0538320', 'nm0465273', 'nm1432049'),
 ('nm0538320', 'nm0465273', 'nm0594497'),
 ('nm0538320', 'nm0465273', 'nm1659547'),
 ('nm0538320', 'nm0465273', 'nm0461136'),
 ('nm0538320', 'nm0465273', 'nm0836684'),
 ('nm0538320', 'nm0465273', 'nm1913734'),
 ('nm0538320', 'nm0465273', 'nm0288800'),
 ('nm0538320', 'nm0465273', 'nm0880367'),
 ('nm0538320', 'nm0465273', 'nm0447695'),
 ('nm0538320', 'nm0465273', 'nm1999369'),
 ('nm0538320', 'nm0465273', 'nm1821791'),
 ('nm0538320', 'nm0465273', 'nm2401938'),
 ('nm0538320', 'nm0465273', 'nm3949541'),
 ('nm0538320', 'nm0465273', 'nm3708145'),
 ('nm0538320', 'nm0465273', 'nm2933757'),
 ('nm0538320', 'nm0465273', 'nm0683467'),
 ('nm0538320', 'nm0465273', 'nm2244205'),
 ('nm0538320', 'nm0465273', 'nm4533391'),
 ('nm0538320', 'nm0465273', 'nm0466936'),
 ('nm0538320', 'nm0465273', 'nm1480573'),
 ('nm0538320', 'nm0071275', 'nm0387581'),

In [13]:
data=pd.DataFrame(Id_list)
data

               0          1          2
0      nm0538320  nm1310016  nm0387581
1      nm0538320  nm1310016  nm1137209
2      nm0538320  nm1310016  nm2570245
3      nm0538320  nm1310016  nm1489950
4      nm0538320  nm1310016  nm3345824
...          ...        ...        ...
15620  nm0338886  nm0384211  nm0683467
15621  nm0338886  nm0384211  nm2244205
15622  nm0338886  nm0384211  nm4533391
15623  nm0338886  nm0384211  nm0466936
15624  nm0338886  nm0384211  nm1480573

[15625 rows x 3 columns]

In [14]:
data.iloc[i]

0    nm0538320
1    nm1310016
2    nm2570245
Name: 2, dtype: object

In [15]:
%%time
#All of the {}_actor.tsv with each other 
Id1=[]
Id2=[]
score=[]
for i in range(len(IDs)):
    for j in range(len(IDs[i])):
        for m in range(i+1,len(IDs)):
            if (i+1)<(len(IDs)):
                for k in range(len(IDs[m])):
                    a=IDs[i][j]
                    b=IDs[m][k]
                    Id1.append(a)
                    Id2.append(b)
                    score.append(relation_score(a,b,new_graph))
                    #Id.append(dic)

Wall time: 5.62 s

In [16]:
d1=pd.DataFrame({'ID1': Id1, 'ID2' : Id2, 'Score': score})
d1

            ID1        ID2  Score
0     nm0538320  nm1310016    0.0
1     nm0538320  nm0411692    0.0
2     nm0538320  nm0098709    0.0
3     nm0538320  nm1092086    0.0
4     nm0538320  nm1069415    0.0
...         ...        ...    ...
1870  nm0384211  nm0683467    0.0
1871  nm0384211  nm2244205    0.0
1872  nm0384211  nm4533391    0.0
1873  nm0384211  nm0466936    0.0
1874  nm0384211  nm1480573    0.0

[1875 rows x 3 columns]

In [17]:
new_data=data

In [18]:
new_data['r_score']=0.0
new_data

               0          1          2  r_score
0      nm0538320  nm1310016  nm0387581      0.0
1      nm0538320  nm1310016  nm1137209      0.0
2      nm0538320  nm1310016  nm2570245      0.0
3      nm0538320  nm1310016  nm1489950      0.0
4      nm0538320  nm1310016  nm3345824      0.0
...          ...        ...        ...      ...
15620  nm0338886  nm0384211  nm0683467      0.0
15621  nm0338886  nm0384211  nm2244205      0.0
15622  nm0338886  nm0384211  nm4533391      0.0
15623  nm0338886  nm0384211  nm0466936      0.0
15624  nm0338886  nm0384211  nm1480573      0.0

[15625 rows x 4 columns]

In [19]:
for i in range(len(li)):
    for j in range(i,len(li)):
        if (j+1)<(len(IDs)):
            new_data=pd.merge(new_data,d1, how='inner', left_on=[i,j+1], right_on=['ID1','ID2'])
            new_data['r_score']=new_data['r_score']+new_data['Score']
            new_data=new_data.drop(['ID1','ID2','Score'],axis=1)

In [20]:
new_data['r_score']=new_data['r_score']/len(li)
new_data

               0          1          2  r_score
0      nm0538320  nm1310016  nm0387581      0.0
1      nm0434596  nm1310016  nm0387581      0.0
2      nm0477209  nm1310016  nm0387581      0.0
3      nm0451148  nm1310016  nm0387581      0.0
4      nm0072949  nm1310016  nm0387581      0.0
...          ...        ...        ...      ...
15620  nm0001218  nm0384211  nm1480573      0.0
15621  nm1488529  nm0384211  nm1480573      0.0
15622  nm0530365  nm0384211  nm1480573      0.0
15623  nm0586568  nm0384211  nm1480573      0.0
15624  nm0338886  nm0384211  nm1480573      0.0

[15625 rows x 4 columns]

In [21]:
#Removing all zero scored values
new_data=new_data.loc[(new_data['r_score']!=0)]
#Sorting 
new_data=new_data.sort_values(by='r_score', ascending=False)
new_data

               0          1          2   r_score
9653   nm0451148  nm2985299  nm1821791  8.650000
9778   nm0451148  nm1421814  nm1821791  5.800000
9478   nm0451148  nm1069415  nm1821791  5.800000
1362   nm0876805  nm1069415  nm2570245  2.966667
1374   nm0338886  nm1069415  nm2570245  2.966667
...          ...        ...        ...       ...
3020   nm0001218  nm0462735  nm3345824  2.608333
13020  nm0001218  nm0462735  nm0683467  2.608333
13645  nm0001218  nm0462735  nm2244205  2.608333
14270  nm0001218  nm0462735  nm4533391  2.608333
7395   nm0001218  nm0462735  nm0288800  2.608333

[296 rows x 4 columns]

In [22]:
df=new_data
for i in range(len(li)):
    df=pd.merge(df,li[i], how='inner', left_on=i, right_on='Actor ID')
    sname=('score_{}'.format(i))
    df[sname]=df['score']
    df=df.drop(['Actor ID', 'Avg Genre Score', 'summary_score', 'score'], axis=1)
df

             0          1          2   r_score   score_0   score_1   score_2
0    nm0451148  nm2985299  nm1821791  8.650000  6.107729  5.590135  5.275254
1    nm0876805  nm2985299  nm1821791  2.883333  5.815261  5.590135  5.275254
2    nm0338886  nm2985299  nm1821791  2.883333  5.640284  5.590135  5.275254
3    nm0586568  nm2985299  nm1821791  2.883333  5.646679  5.590135  5.275254
4    nm0530365  nm2985299  nm1821791  2.883333  5.656366  5.590135  5.275254
..         ...        ...        ...       ...       ...       ...       ...
291  nm0023832  nm1121870  nm2570245  2.850000  5.993165  5.460135  5.881128
292  nm0001187  nm1121870  nm2570245  2.850000  5.945448  5.460135  5.881128
293  nm0001218  nm0462735  nm2570245  2.608333  5.678060  5.466974  5.881128
294  nm0451148  nm2985299  nm1137209  2.883333  6.107729  5.590135  5.984012
295  nm0001218  nm0462735  nm1137209  2.608333  5.678060  5.466974  5.984012

[296 rows x 7 columns]

In [23]:
sname=[]
for i in range(len(li)):
    sname.append(('score_{}'.format(i)))
    
col = df.loc[: , sname]
df['gs_score'] = col.mean(axis=1)
df

,0,1,2,r_score,score_0,score_1,score_2,gs_score
0,nm0451148,nm2985299,nm1821791,8.650000,6.107729,5.590135,5.275254,5.657706
1,nm0876805,nm2985299,nm1821791,2.883333,5.815261,5.590135,5.275254,5.560217
2,nm0338886,nm2985299,nm1821791,2.883333,5.640284,5.590135,5.275254,5.501891
3,nm0586568,nm2985299,nm1821791,2.883333,5.646679,5.590135,5.275254,5.504023
4,nm0530365,nm2985299,nm1821791,2.883333,5.656366,5.590135,5.275254,5.507252
...,...,...,...,...,...,...,...,...
291,nm0023832,nm1121870,nm2570245,2.850000,5.993165,5.460135,5.881128,5.778143
292,nm0001187,nm1121870,nm2570245,2.850000,5.945448,5.460135,5.881128,5.762237
293,nm0001218,nm0462735,nm2570245,2.608333,5.678060,5.466974,5.881128,5.675387
294,nm0451148,nm2985299,nm1137209,2.883333,6.107729,5.590135,5.984012,5.893959
295,nm0001218,nm0462735,nm1137209,2.608333,5.678060,5.466974,5.984012,5.709682

In [24]:
df['final'] = df[["r_score","gs_score"]].mean(axis=1)
col_list=[i for i in range(len(li))]
col_list.append('final')
final_df=df[col_list]
final_df=final_df.sort_values(by='final', ascending=False)
final_df

             0          1          2     final
0    nm0451148  nm2985299  nm1821791  7.153853
50   nm0451148  nm1069415  nm1821791  5.766981
25   nm0451148  nm1421814  nm1821791  5.717140
260  nm0538320  nm1069415  nm2570245  4.629740
285  nm0538320  nm1121870  nm2570245  4.511611
..         ...        ...        ...       ...
210  nm0001218  nm0462735  nm0683467  4.014225
214  nm0001218  nm0462735  nm2244205  4.012978
216  nm0001218  nm0462735  nm4533391  4.007795
177  nm0001218  nm0462735  nm0466936  4.002808
158  nm0001218  nm0462735  nm1480573  3.996518

[296 rows x 4 columns]

In [25]:
final_df.to_csv('../data/final3_top25_latest.tsv', sep= '\t', header=True)