In [1]:
%reset
import pandas as pd 
import numpy as np 
import ast
import os
import re
import sys
import ast
import glob
import itertools

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
graph=pd.read_csv('../data/graph.tsv', sep='\t')
graph=graph.loc[:, ~graph.columns.str.contains('^Unnamed')]
graph

               key                                             values
0        nm0000001  {'nm0949130': 2.5, 'nm0001677': 2.2, 'nm010356...
1        nm0000002  {'nm0150462': 2.0999999999999996, 'nm0000007':...
2        nm0000003  {'nm0131001': 4.3, 'nm0894677': 4.3, 'nm018135...
3        nm0000004  {'nm0161443': 3.2, 'nm0000101': 2.099999999999...
4        nm0000005  {'nm0090956': 2.7, 'nm0433512': 2.7, 'nm045803...
...            ...                                                ...
1131849  nm9993613  {'nm10720286': 4.0, 'nm5063862': 4.0, 'nm35495...
1131850  nm9993616  {'nm1391663': 3.5, 'nm7444538': 3.5, 'nm049125...
1131851  nm9993650  {'nm7144368': 4.8, 'nm2066212': 4.8, 'nm069022...
1131852  nm9993690  {'nm7815539': 3.5, 'nm1666585': 3.5, 'nm999369...
1131853  nm9993691  {'nm7815539': 3.5, 'nm1666585': 3.5, 'nm780397...

[1131854 rows x 2 columns]

In [3]:
%%time
graph['values']=graph['values'].apply(lambda x: ast.literal_eval(x))

Wall time: 1min 36s

In [4]:
%%time
graph['values']=graph['values'].apply(lambda x: list(x.items()))
graph

Wall time: 6.62 s

               key                                             values
0        nm0000001  [(nm0949130, 2.5), (nm0001677, 2.2), (nm010356...
1        nm0000002  [(nm0150462, 2.0999999999999996), (nm0000007, ...
2        nm0000003  [(nm0131001, 4.3), (nm0894677, 4.3), (nm018135...
3        nm0000004  [(nm0161443, 3.2), (nm0000101, 2.0999999999999...
4        nm0000005  [(nm0090956, 2.7), (nm0433512, 2.7), (nm045803...
...            ...                                                ...
1131849  nm9993613  [(nm10720286, 4.0), (nm5063862, 4.0), (nm35495...
1131850  nm9993616  [(nm1391663, 3.5), (nm7444538, 3.5), (nm049125...
1131851  nm9993650  [(nm7144368, 4.8), (nm2066212, 4.8), (nm069022...
1131852  nm9993690  [(nm7815539, 3.5), (nm1666585, 3.5), (nm999369...
1131853  nm9993691  [(nm7815539, 3.5), (nm1666585, 3.5), (nm780397...

[1131854 rows x 2 columns]

In [5]:
new_graph=graph.explode('values')
new_graph

               key            values
0        nm0000001  (nm0949130, 2.5)
0        nm0000001  (nm0001677, 2.2)
0        nm0000001  (nm0103567, 2.5)
0        nm0000001  (nm0002143, 2.2)
0        nm0000001  (nm0762263, 2.2)
...            ...               ...
1131853  nm9993691  (nm3021672, 3.5)
1131853  nm9993691  (nm1093120, 3.5)
1131853  nm9993691  (nm0805948, 3.5)
1131853  nm9993691  (nm5625978, 3.5)
1131853  nm9993691  (nm4236548, 3.5)

[23224173 rows x 2 columns]

In [6]:
%%time
#Multi-indexing 
new_graph[["to_node", "value"]]= pd.DataFrame(new_graph["values"].values.tolist(), index=new_graph.index)
new_graph.drop(columns=["values"], inplace=True)
new_graph.set_index(keys=["key", "to_node"], drop= True, inplace=True)

Wall time: 21.4 s

In [7]:
new_graph

                     value
key       to_node
nm0000001 nm0949130    2.5
          nm0001677    2.2
          nm0103567    2.5
          nm0002143    2.2
          nm0762263    2.2
...                    ...
nm9993691 nm3021672    3.5
          nm1093120    3.5
          nm0805948    3.5
          nm5625978    3.5
          nm4236548    3.5

[23224173 rows x 1 columns]

In [ ]:
#new_graph.loc['nm0762263','nm0544987']

In [8]:
path = r'../data' # use your path
all_files = glob.glob(path + "/*_actor3.tsv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, sep="\t", header=0)
    li.append(df)

In [9]:
#Choosing only top 25 actors from {}_actor.tsv
#for i in range(len(li)):
#    li[i]=li[i].head(25)

In [9]:
IDs=[]
for i in range(len(li)):
    ids=[]
    for j in range(len(li[i])):
        ids.append((li[i].iloc[j])[0])
    IDs.append(ids)
IDs

[['nm0538320',
  'nm0434596',
  'nm0477209',
  'nm0451148',
  'nm0072949',
  'nm0000375',
  'nm1323287',
  'nm0626362',
  'nm0023832',
  'nm0001187',
  'nm0837501',
  'nm0559105',
  'nm0876805',
  'nm0290432',
  'nm0609403',
  'nm0920992',
  'nm0378112',
  'nm0782213',
  'nm0431259',
  'nm0001083',
  'nm0001218',
  'nm1488529',
  'nm0530365',
  'nm0586568',
  'nm0338886',
  'nm0747172',
  'nm0564947',
  'nm0006509',
  'nm0001646',
  'nm0868881',
  'nm0524217',
  'nm0009530',
  'nm0695177',
  'nm0453440',
  'nm0190489',
  'nm0536385',
  'nm0151419',
  'nm0865411',
  'nm0474092',
  'nm0045584',
  'nm0064155',
  'nm0576960',
  'nm0954704',
  'nm0461878',
  'nm0253035',
  'nm0504832',
  'nm0612487',
  'nm0474609',
  'nm0664499',
  'nm0494078',
  'nm0779084',
  'nm0726167',
  'nm0128345',
  'nm0675751',
  'nm0176869',
  'nm0939255',
  'nm0000221',
  'nm0945322',
  'nm0772988',
  'nm0046522',
  'nm0631413',
  'nm0463674',
  'nm0451321',
  'nm0091035',
  'nm0281107',
  'nm0942482',
  'nm0297956',
  'nm0001454',
  'nm0486433',
  'nm0443867',
  'nm1098726',
  'nm0001774',
  'nm0000881',
  'nm0309348',
  'nm0855564',
  'nm0871993',
  'nm0005315',
  'nm0476334',
  'nm0893107',
  'nm0362873',
  'nm0451561',
  'nm0157759',
  'nm0750259',
  'nm0070115',
  'nm0544611',
  'nm0956009',
  'nm0000604',
  'nm0001263',
  'nm0482572',
  'nm0758721',
  'nm0353750',
  'nm0605221',
  'nm0299210',
  'nm0476889',
  'nm0156314',
  'nm0005068',
  'nm0040939',
  'nm0641244',
  'nm0001143',
  'nm0882403',
  'nm0298807',
  'nm0632457',
  'nm1012117',
  'nm0001674',
  'nm0220867',
  'nm0121203',
  'nm0183464',
  'nm0875244',
  'nm0867017',
  'nm0620252',
  'nm0190931',
  'nm0006795',
  'nm0287471',
  'nm0731519',
  'nm0529452',
  'nm2454994',
  'nm0487929',
  'nm1181610',
  'nm0146153',
  'nm0615652',
  'nm0659156',
  'nm0671032',
  'nm0340762',
  'nm0689852',
  'nm0099521',
  'nm0409384',
  'nm0255375',
  'nm0093337',
  'nm0416694',
  'nm0004775',
  'nm0001530',
  'nm0215167',
  'nm0868957',
  'nm0856908',
  'nm0342029',
  'nm0001086',
  'nm0541908',
  'nm0009494',
  'nm0750852',
  'nm0960025',
  'nm0612223',
  'nm0160085',
  'nm0851348',
  'nm0408387',
  'nm0838928',
  'nm0569962',
  'nm0716490',
  'nm0755074',
  'nm0606439',
  'nm0488626',
  'nm1239566',
  'nm0004996',
  'nm0862907',
  'nm0076780',
  'nm0196592',
  'nm0004873',
  'nm0001298',
  'nm0711595',
  'nm1209745',
  'nm0379775',
  'nm0634583',
  'nm0579160',
  'nm0784649',
  'nm0264330',
  'nm0110301',
  'nm0330853',
  'nm0416673',
  'nm3429745',
  'nm1497267',
  'nm0192963',
  'nm0572112',
  'nm0301381',
  'nm0261595',
  'nm0552222',
  'nm0438503',
  'nm0362429',
  'nm0785854',
  'nm0941708',
  'nm0882616',
  'nm0837096',
  'nm0002510',
  'nm0944688',
  'nm0382582',
  'nm0631792',
  'nm1273864',
  'nm2428088',
  'nm0951420'],
 ['nm1310016',
  'nm0411692',
  'nm0098709',
  'nm1092086',
  'nm1069415',
  'nm0836137',
  'nm0246585',
  'nm0002364',
  'nm0640560',
  'nm0027942',
  'nm0361546',
  'nm2985299',
  'nm1243922',
  'nm2590720',
  'nm0006801',
  'nm1375877',
  'nm1421814',
  'nm1215153',
  'nm0465273',
  'nm0071275',
  'nm0462735',
  'nm1016966',
  'nm0254392',
  'nm1121870',
  'nm0384211',
  'nm1589782',
  'nm1265067',
  'nm0555093',
  'nm0524745',
  'nm0177896',
  'nm0005454',
  'nm0190800',
  'nm0498189',
  'nm1234631',
  'nm3354020',
  'nm1047726',
  'nm0195439',
  'nm0552072',
  'nm3344655',
  'nm0000729',
  'nm0135585',
  'nm1862815',
  'nm0377336',
  'nm0763928',
  'nm0611295',
  'nm0198366',
  'nm0004999',
  'nm0653257',
  'nm0103785',
  'nm1758779',
  'nm1442624',
  'nm4433883',
  'nm0005478',
  'nm0451379',
  'nm0926615',
  'nm0001497',
  'nm0570165',
  'nm3901368',
  'nm0773327',
  'nm0837177',
  'nm0171499',
  'nm2479406',
  'nm0050959',
  'nm0956026',
  'nm0735226',
  'nm1214637',
  'nm0001267',
  'nm1417249',
  'nm0954658',
  'nm0994950',
  'nm1143429',
  'nm0530917',
  'nm0865891',
  'nm0320552',
  'nm0970805',
  'nm0110491',
  'nm1049982',
  'nm3185766',
  'nm3036436',
  'nm0213354',
  'nm0301959',
  'nm0887769',
  'nm0769157',
  'nm0185063',
  'nm0948045',
  'nm1056120',
  'nm0715785',
  'nm0765287',
  'nm0199215',
  'nm1009277',
  'nm0164929',
  'nm1645275',
  'nm0766005',
  'nm0224565',
  'nm0874556',
  'nm2523877',
  'nm0939105',
  'nm0005528',
  'nm0533650',
  'nm0610960',
  'nm0773283',
  'nm0578042',
  'nm0352764',
  'nm0644295',
  'nm0088098',
  'nm2718341',
  'nm3818786',
  'nm3969329',
  'nm0234910',
  'nm1406239',
  'nm0813066',
  'nm0222088',
  'nm0755645',
  'nm0787687',
  'nm0441085',
  'nm1645304',
  'nm1392332',
  'nm0460206',
  'nm1169471',
  'nm0176660',
  'nm1352774',
  'nm0126021',
  'nm1295127',
  'nm0817341',
  'nm0135066',
  'nm2616416',
  'nm1015511',
  'nm2683583',
  'nm1281350',
  'nm0151747',
  'nm1554513',
  'nm0603352',
  'nm1732032',
  'nm0092216',
  'nm0042971'],
 ['nm0387581',
  'nm1137209',
  'nm2570245',
  'nm1489950',
  'nm3345824',
  'nm1432049',
  'nm0594497',
  'nm1659547',
  'nm0461136',
  'nm0836684',
  'nm1913734',
  'nm0288800',
  'nm0880367',
  'nm0447695',
  'nm1999369',
  'nm1821791',
  'nm2401938',
  'nm3949541',
  'nm3708145',
  'nm2933757',
  'nm0683467',
  'nm2244205',
  'nm4533391',
  'nm0466936',
  'nm1480573',
  'nm1031534',
  'nm3338354',
  'nm0495799',
  'nm2706397',
  'nm2611074',
  'nm2349395',
  'nm4668046',
  'nm4663937',
  'nm2726899',
  'nm4023073',
  'nm0115671',
  'nm4439530',
  'nm2596365',
  'nm2429015',
  'nm1221906',
  'nm3118731',
  'nm0273451',
  'nm0556344',
  'nm0956526',
  'nm1785575',
  'nm2251716',
  'nm1995372',
  'nm1919629',
  'nm4410856',
  'nm1328076',
  'nm0792354',
  'nm1232663',
  'nm3012172',
  'nm1386659',
  'nm1340738',
  'nm0993109',
  'nm2857778',
  'nm3083352',
  'nm1456970',
  'nm2128467',
  'nm0167941',
  'nm0796676',
  'nm0723415',
  'nm0951148',
  'nm2832695',
  'nm1506908',
  'nm2128238',
  'nm0765251',
  'nm1509090',
  'nm0240380',
  'nm0014605',
  'nm0492345',
  'nm3220515',
  'nm2972478',
  'nm1597542',
  'nm2377131',
  'nm0441384',
  'nm3872330',
  'nm2628347']]

In [10]:
def relation_score(a,b,new_graph):
    
    #Checking if a and b have acted together
    d=(new_graph.loc[a]).to_dict()
    to_node=[]
    for k,v in d.items():
        for l,m in v.items():
            to_node.append(l)

    if b in to_node:
        #This is the starting step
        step = {
            "node": a,
            "value": 0,
            "distance": 0,
            "values": [],
            "cost": 0,
            "prev": ""
        }

        # This is all of the nodes we already found the shortest path to
        finished = {}
        # This is the next steps to consider
        queue = [step]
        # This is basically Dijkstra's shortest path algorithm
        while len(queue) > 0:
            # Take the node with the lowest cost
            queue.sort(key=lambda x: x["cost"], reverse=True)
            current = queue.pop()
            # When you take a node from the queue it means that you have found the shortest path to that node.
            finished[current["node"]] = current
            #print("Looking at " + current["node"] + ", distance: " + str(current["distance"]) + ", cost: " + str(current["cost"]))
            # Stop when we find b
            if current["node"] == b:
                #print("Found path to {} :D".format(b))
                break
            # The distance to the next nodes is 1 more than the distance to this node
            new_dist = current["distance"] + 1
            # Values is a list of the graph values so that we can calculate the average when we are calculating the cost
            new_values = current["values"]
            # Find all of the edges from this node to it's neighbours as dict
            d=(new_graph.loc[a]).to_dict()
            for k,v in d.items():
                edges=v   
            for edge in edges:
                # If the edge is in finished it means that we already found a shorter path to that node
                if finished.get(edge): continue
                val = edges[edge]
                vals = new_values + [val]
                # Our scores (genre_score, similarity) are between 0 and 10. So we want this score to be in that range aswell.
                # The distance (11 - new_dist) means that shorter paths are preferred, A->B->C=9 instead of A->E->F->C=8.
                # (10 - sum(vals)/new_dist) is 10 - avg of the scores from the graph. The graph values are the opposite
                # of the rating, so a rating of 7 => 3, 9.5 => 0.5. This is done because we want to find the shortest path between actors.
                # If we didn't do this then the path would always try to visit every actor before finding christian. This is why we
                # subtract the average of the two numbers from 10. 
                cost = 10 - (11 - new_dist + 10 - sum(vals)/new_dist) / 2

                new_step = {
                    "node": edge,
                    "value": val,
                    "distance": new_dist,
                    "values": vals,
                    "cost": cost,
                    "prev": current["node"]
                }

                in_queue = False
                # Check if it is already in the queue, if it is and this cost is lower it should be updated
                for i in range(len(queue)):
                    if queue[i]["node"] == edge:
                        if queue[i]["cost"] > new_step["cost"]:
                            queue[i] = new_step
                        in_queue = True
                        break
                if in_queue: continue
                # If the edge was not in the queue it is added.
                queue.append(new_step)


        actor = b
        path = []
        while actor != "":
            path.append(actor)
            actor = finished[actor]["prev"]
        path = list(reversed(path))
        score=(10 - finished[b]["cost"])
        #print("Leonardo-Christian score: " + str(10 - finished[christian]["cost"]))
    
    else:
        score=0.0

    return(score)

In [11]:
Id_list = list(itertools.product(*IDs))
Id_list

[('nm0538320', 'nm1310016', 'nm0387581'),
 ('nm0538320', 'nm1310016', 'nm1137209'),
 ('nm0538320', 'nm1310016', 'nm2570245'),
 ('nm0538320', 'nm1310016', 'nm1489950'),
 ('nm0538320', 'nm1310016', 'nm3345824'),
 ('nm0538320', 'nm1310016', 'nm1432049'),
 ('nm0538320', 'nm1310016', 'nm0594497'),
 ('nm0538320', 'nm1310016', 'nm1659547'),
 ('nm0538320', 'nm1310016', 'nm0461136'),
 ('nm0538320', 'nm1310016', 'nm0836684'),
 ('nm0538320', 'nm1310016', 'nm1913734'),
 ('nm0538320', 'nm1310016', 'nm0288800'),
 ('nm0538320', 'nm1310016', 'nm0880367'),
 ('nm0538320', 'nm1310016', 'nm0447695'),
 ('nm0538320', 'nm1310016', 'nm1999369'),
 ('nm0538320', 'nm1310016', 'nm1821791'),
 ('nm0538320', 'nm1310016', 'nm2401938'),
 ('nm0538320', 'nm1310016', 'nm3949541'),
 ('nm0538320', 'nm1310016', 'nm3708145'),
 ('nm0538320', 'nm1310016', 'nm2933757'),
 ('nm0538320', 'nm1310016', 'nm0683467'),
 ('nm0538320', 'nm1310016', 'nm2244205'),
 ('nm0538320', 'nm1310016', 'nm4533391'),
 ('nm0538320', 'nm1310016', 'nm0466936'),
 ('nm0538320', 'nm1310016', 'nm1480573'),
 ('nm0538320', 'nm1310016', 'nm1031534'),
 ('nm0538320', 'nm1310016', 'nm3338354'),
 ('nm0538320', 'nm1310016', 'nm0495799'),
 ('nm0538320', 'nm1310016', 'nm2706397'),
 ('nm0538320', 'nm1310016', 'nm2611074'),
 ('nm0538320', 'nm1310016', 'nm2349395'),
 ('nm0538320', 'nm1310016', 'nm4668046'),
 ('nm0538320', 'nm1310016', 'nm4663937'),
 ('nm0538320', 'nm1310016', 'nm2726899'),
 ('nm0538320', 'nm1310016', 'nm4023073'),
 ('nm0538320', 'nm1310016', 'nm0115671'),
 ('nm0538320', 'nm1310016', 'nm4439530'),
 ('nm0538320', 'nm1310016', 'nm2596365'),
 ('nm0538320', 'nm1310016', 'nm2429015'),
 ('nm0538320', 'nm1310016', 'nm1221906'),
 ('nm0538320', 'nm1310016', 'nm3118731'),
 ('nm0538320', 'nm1310016', 'nm0273451'),
 ('nm0538320', 'nm1310016', 'nm0556344'),
 ('nm0538320', 'nm1310016', 'nm0956526'),
 ('nm0538320', 'nm1310016', 'nm1785575'),
 ('nm0538320', 'nm1310016', 'nm2251716'),
 ('nm0538320', 'nm1310016', 'nm1995372'),
 ('nm0538320', 'nm1310016', 'nm1919629'),
 ('nm0538320', 'nm1310016', 'nm4410856'),
 ('nm0538320', 'nm1310016', 'nm1328076'),
 ('nm0538320', 'nm1310016', 'nm0792354'),
 ('nm0538320', 'nm1310016', 'nm1232663'),
 ('nm0538320', 'nm1310016', 'nm3012172'),
 ('nm0538320', 'nm1310016', 'nm1386659'),
 ('nm0538320', 'nm1310016', 'nm1340738'),
 ('nm0538320', 'nm1310016', 'nm0993109'),
 ('nm0538320', 'nm1310016', 'nm2857778'),
 ('nm0538320', 'nm1310016', 'nm3083352'),
 ('nm0538320', 'nm1310016', 'nm1456970'),
 ('nm0538320', 'nm1310016', 'nm2128467'),
 ('nm0538320', 'nm1310016', 'nm0167941'),
 ('nm0538320', 'nm1310016', 'nm0796676'),
 ('nm0538320', 'nm1310016', 'nm0723415'),
 ('nm0538320', 'nm1310016', 'nm0951148'),
 ('nm0538320', 'nm1310016', 'nm2832695'),
 ('nm0538320', 'nm1310016', 'nm1506908'),
 ('nm0538320', 'nm1310016', 'nm2128238'),
 ('nm0538320', 'nm1310016', 'nm0765251'),
 ('nm0538320', 'nm1310016', 'nm1509090'),
 ('nm0538320', 'nm1310016', 'nm0240380'),
 ('nm0538320', 'nm1310016', 'nm0014605'),
 ('nm0538320', 'nm1310016', 'nm0492345'),
 ('nm0538320', 'nm1310016', 'nm3220515'),
 ('nm0538320', 'nm1310016', 'nm2972478'),
 ('nm0538320', 'nm1310016', 'nm1597542'),
 ('nm0538320', 'nm1310016', 'nm2377131'),
 ('nm0538320', 'nm1310016', 'nm0441384'),
 ('nm0538320', 'nm1310016', 'nm3872330'),
 ('nm0538320', 'nm1310016', 'nm2628347'),
 ('nm0538320', 'nm0411692', 'nm0387581'),
 ('nm0538320', 'nm0411692', 'nm1137209'),
 ('nm0538320', 'nm0411692', 'nm2570245'),
 ('nm0538320', 'nm0411692', 'nm1489950'),
 ('nm0538320', 'nm0411692', 'nm3345824'),
 ('nm0538320', 'nm0411692', 'nm1432049'),
 ('nm0538320', 'nm0411692', 'nm0594497'),
 ('nm0538320', 'nm0411692', 'nm1659547'),
 ('nm0538320', 'nm0411692', 'nm0461136'),
 ('nm0538320', 'nm0411692', 'nm0836684'),
 ('nm0538320', 'nm0411692', 'nm1913734'),
 ('nm0538320', 'nm0411692', 'nm0288800'),
 ('nm0538320', 'nm0411692', 'nm0880367'),
 ('nm0538320', 'nm0411692', 'nm0447695'),
 ('nm0538320', 'nm0411692', 'nm1999369'),
 ('nm0538320', 'nm0411692', 'nm1821791'),
 ('nm0538320', 'nm0411692', 'nm2401938'),
 ('nm0538320', 'nm0411692', 'nm3949541'),
 ('nm0538320', 'nm0411692', 'nm3708145'),
 ('nm0538320', 'nm0411692', 'nm2933757'),
 ('nm0538320', 'nm0411692', 'nm0683467'),
 ('nm0538320', 'nm0411692', 'nm2244205'),
 ('nm0538320', 'nm0411692', 'nm4533391'),
 ('nm0538320', 'nm0411692', 'nm0466936'),
 ('nm0538320', 'nm0411692', 'nm1480573'),
 ('nm0538320', 'nm0411692', 'nm1031534'),
 ('nm0538320', 'nm0411692', 'nm3338354'),
 ('nm0538320', 'nm0411692', 'nm0495799'),
 ('nm0538320', 'nm0411692', 'nm2706397'),
 ('nm0538320', 'nm0411692', 'nm2611074'),
 ('nm0538320', 'nm0411692', 'nm2349395'),
 ('nm0538320', 'nm0411692', 'nm4668046'),
 ('nm0538320', 'nm0411692', 'nm4663937'),
 ('nm0538320', 'nm0411692', 'nm2726899'),
 ('nm0538320', 'nm0411692', 'nm4023073'),
 ('nm0538320', 'nm0411692', 'nm0115671'),
 ('nm0538320', 'nm0411692', 'nm4439530'),
 ('nm0538320', 'nm0411692', 'nm2596365'),
 ('nm0538320', 'nm0411692', 'nm2429015'),
 ('nm0538320', 'nm0411692', 'nm1221906'),
 ('nm0538320', 'nm0411692', 'nm3118731'),
 ('nm0538320', 'nm0411692', 'nm0273451'),
 ('nm0538320', 'nm0411692', 'nm0556344'),
 ('nm0538320', 'nm0411692', 'nm0956526'),
 ('nm0538320', 'nm0411692', 'nm1785575'),
 ('nm0538320', 'nm0411692', 'nm2251716'),
 ('nm0538320', 'nm0411692', 'nm1995372'),
 ('nm0538320', 'nm0411692', 'nm1919629'),
 ('nm0538320', 'nm0411692', 'nm4410856'),
 ('nm0538320', 'nm0411692', 'nm1328076'),
 ('nm0538320', 'nm0411692', 'nm0792354'),
 ('nm0538320', 'nm0411692', 'nm1232663'),
 ('nm0538320', 'nm0411692', 'nm3012172'),
 ('nm0538320', 'nm0411692', 'nm1386659'),
 ('nm0538320', 'nm0411692', 'nm1340738'),
 ('nm0538320', 'nm0411692', 'nm0993109'),
 ('nm0538320', 'nm0411692', 'nm2857778'),
 ('nm0538320', 'nm0411692', 'nm3083352'),
 ('nm0538320', 'nm0411692', 'nm1456970'),
 ('nm0538320', 'nm0411692', 'nm2128467'),
 ('nm0538320', 'nm0411692', 'nm0167941'),
 ('nm0538320', 'nm0411692', 'nm0796676'),
 ('nm0538320', 'nm0411692', 'nm0723415'),
 ('nm0538320', 'nm0411692', 'nm0951148'),
 ('nm0538320', 'nm0411692', 'nm2832695'),
 ('nm0538320', 'nm0411692', 'nm1506908'),
 ('nm0538320', 'nm0411692', 'nm2128238'),
 ('nm0538320', 'nm0411692', 'nm0765251'),
 ('nm0538320', 'nm0411692', 'nm1509090'),
 ('nm0538320', 'nm0411692', 'nm0240380'),
 ('nm0538320', 'nm0411692', 'nm0014605'),
 ('nm0538320', 'nm0411692', 'nm0492345'),
 ('nm0538320', 'nm0411692', 'nm3220515'),
 ('nm0538320', 'nm0411692', 'nm2972478'),
 ('nm0538320', 'nm0411692', 'nm1597542'),
 ('nm0538320', 'nm0411692', 'nm2377131'),
 ('nm0538320', 'nm0411692', 'nm0441384'),
 ('nm0538320', 'nm0411692', 'nm3872330'),
 ('nm0538320', 'nm0411692', 'nm2628347'),
 ('nm0538320', 'nm0098709', 'nm0387581'),
 ('nm0538320', 'nm0098709', 'nm1137209'),
 ('nm0538320', 'nm0098709', 'nm2570245'),
 ('nm0538320', 'nm0098709', 'nm1489950'),
 ('nm0538320', 'nm0098709', 'nm3345824'),
 ('nm0538320', 'nm0098709', 'nm1432049'),
 ('nm0538320', 'nm0098709', 'nm0594497'),
 ('nm0538320', 'nm0098709', 'nm1659547'),
 ('nm0538320', 'nm0098709', 'nm0461136'),
 ('nm0538320', 'nm0098709', 'nm0836684'),
 ('nm0538320', 'nm0098709', 'nm1913734'),
 ('nm0538320', 'nm0098709', 'nm0288800'),
 ('nm0538320', 'nm0098709', 'nm0880367'),
 ('nm0538320', 'nm0098709', 'nm0447695'),
 ('nm0538320', 'nm0098709', 'nm1999369'),
 ('nm0538320', 'nm0098709', 'nm1821791'),
 ('nm0538320', 'nm0098709', 'nm2401938'),
 ('nm0538320', 'nm0098709', 'nm3949541'),
 ('nm0538320', 'nm0098709', 'nm3708145'),
 ('nm0538320', 'nm0098709', 'nm2933757'),
 ('nm0538320', 'nm0098709', 'nm0683467'),
 ('nm0538320', 'nm0098709', 'nm2244205'),
 ('nm0538320', 'nm0098709', 'nm4533391'),
 ('nm0538320', 'nm0098709', 'nm0466936'),
 ('nm0538320', 'nm0098709', 'nm1480573'),
 ('nm0538320', 'nm0098709', 'nm1031534'),
 ('nm0538320', 'nm0098709', 'nm3338354'),
 ('nm0538320', 'nm0098709', 'nm0495799'),
 ('nm0538320', 'nm0098709', 'nm2706397'),
 ('nm0538320', 'nm0098709', 'nm2611074'),
 ('nm0538320', 'nm0098709', 'nm2349395'),
 ('nm0538320', 'nm0098709', 'nm4668046'),
 ('nm0538320', 'nm0098709', 'nm4663937'),
 ('nm0538320', 'nm0098709', 'nm2726899'),
 ('nm0538320', 'nm0098709', 'nm4023073'),
 ('nm0538320', 'nm0098709', 'nm0115671'),
 ('nm0538320', 'nm0098709', 'nm4439530'),
 ('nm0538320', 'nm0098709', 'nm2596365'),
 ('nm0538320', 'nm0098709', 'nm2429015'),
 ('nm0538320', 'nm0098709', 'nm1221906'),
 ('nm0538320', 'nm0098709', 'nm3118731'),
 ('nm0538320', 'nm0098709', 'nm0273451'),
 ('nm0538320', 'nm0098709', 'nm0556344'),
 ('nm0538320', 'nm0098709', 'nm0956526'),
 ('nm0538320', 'nm0098709', 'nm1785575'),
 ('nm0538320', 'nm0098709', 'nm2251716'),
 ('nm0538320', 'nm0098709', 'nm1995372'),
 ('nm0538320', 'nm0098709', 'nm1919629'),
 ('nm0538320', 'nm0098709', 'nm4410856'),
 ('nm0538320', 'nm0098709', 'nm1328076'),
 ('nm0538320', 'nm0098709', 'nm0792354'),
 ('nm0538320', 'nm0098709', 'nm1232663'),
 ('nm0538320', 'nm0098709', 'nm3012172'),
 ('nm0538320', 'nm0098709', 'nm1386659'),
 ('nm0538320', 'nm0098709', 'nm1340738'),
 ('nm0538320', 'nm0098709', 'nm0993109'),
 ('nm0538320', 'nm0098709', 'nm2857778'),
 ('nm0538320', 'nm0098709', 'nm3083352'),
 ('nm0538320', 'nm0098709', 'nm1456970'),
 ('nm0538320', 'nm0098709', 'nm2128467'),
 ('nm0538320', 'nm0098709', 'nm0167941'),
 ('nm0538320', 'nm0098709', 'nm0796676'),
 ('nm0538320', 'nm0098709', 'nm0723415'),
 ('nm0538320', 'nm0098709', 'nm0951148'),
 ('nm0538320', 'nm0098709', 'nm2832695'),
 ('nm0538320', 'nm0098709', 'nm1506908'),
 ('nm0538320', 'nm0098709', 'nm2128238'),
 ('nm0538320', 'nm0098709', 'nm0765251'),
 ('nm0538320', 'nm0098709', 'nm1509090'),
 ('nm0538320', 'nm0098709', 'nm0240380'),
 ('nm0538320', 'nm0098709', 'nm0014605'),
 ('nm0538320', 'nm0098709', 'nm0492345'),
 ('nm0538320', 'nm0098709', 'nm3220515'),
 ('nm0538320', 'nm0098709', 'nm2972478'),
 ('nm0538320', 'nm0098709', 'nm1597542'),
 ('nm0538320', 'nm0098709', 'nm2377131'),
 ('nm0538320', 'nm0098709', 'nm0441384'),
 ('nm0538320', 'nm0098709', 'nm3872330'),
 ('nm0538320', 'nm0098709', 'nm2628347'),
 ('nm0538320', 'nm1092086', 'nm0387581'),
 ('nm0538320', 'nm1092086', 'nm1137209'),
 ('nm0538320', 'nm1092086', 'nm2570245'),
 ('nm0538320', 'nm1092086', 'nm1489950'),
 ('nm0538320', 'nm1092086', 'nm3345824'),
 ('nm0538320', 'nm1092086', 'nm1432049'),
 ('nm0538320', 'nm1092086', 'nm0594497'),
 ('nm0538320', 'nm1092086', 'nm1659547'),
 ('nm0538320', 'nm1092086', 'nm0461136'),
 ('nm0538320', 'nm1092086', 'nm0836684'),
 ('nm0538320', 'nm1092086', 'nm1913734'),
 ('nm0538320', 'nm1092086', 'nm0288800'),
 ('nm0538320', 'nm1092086', 'nm0880367'),
 ('nm0538320', 'nm1092086', 'nm0447695'),
 ('nm0538320', 'nm1092086', 'nm1999369'),
 ('nm0538320', 'nm1092086', 'nm1821791'),
 ('nm0538320', 'nm1092086', 'nm2401938'),
 ('nm0538320', 'nm1092086', 'nm3949541'),
 ('nm0538320', 'nm1092086', 'nm3708145'),
 ('nm0538320', 'nm1092086', 'nm2933757'),
 ('nm0538320', 'nm1092086', 'nm0683467'),
 ('nm0538320', 'nm1092086', 'nm2244205'),
 ('nm0538320', 'nm1092086', 'nm4533391'),
 ('nm0538320', 'nm1092086', 'nm0466936'),
 ('nm0538320', 'nm1092086', 'nm1480573'),
 ('nm0538320', 'nm1092086', 'nm1031534'),
 ('nm0538320', 'nm1092086', 'nm3338354'),
 ('nm0538320', 'nm1092086', 'nm0495799'),
 ('nm0538320', 'nm1092086', 'nm2706397'),
 ('nm0538320', 'nm1092086', 'nm2611074'),
 ('nm0538320', 'nm1092086', 'nm2349395'),
 ('nm0538320', 'nm1092086', 'nm4668046'),
 ('nm0538320', 'nm1092086', 'nm4663937'),
 ('nm0538320', 'nm1092086', 'nm2726899'),
 ('nm0538320', 'nm1092086', 'nm4023073'),
 ('nm0538320', 'nm1092086', 'nm0115671'),
 ('nm0538320', 'nm1092086', 'nm4439530'),
 ('nm0538320', 'nm1092086', 'nm2596365'),
 ('nm0538320', 'nm1092086', 'nm2429015'),
 ('nm0538320', 'nm1092086', 'nm1221906'),
 ('nm0538320', 'nm1092086', 'nm3118731'),
 ('nm0538320', 'nm1092086', 'nm0273451'),
 ('nm0538320', 'nm1092086', 'nm0556344'),
 ('nm0538320', 'nm1092086', 'nm0956526'),
 ('nm0538320', 'nm1092086', 'nm1785575'),
 ('nm0538320', 'nm1092086', 'nm2251716'),
 ('nm0538320', 'nm1092086', 'nm1995372'),
 ('nm0538320', 'nm1092086', 'nm1919629'),
 ('nm0538320', 'nm1092086', 'nm4410856'),
 ('nm0538320', 'nm1092086', 'nm1328076'),
 ('nm0538320', 'nm1092086', 'nm0792354'),
 ('nm0538320', 'nm1092086', 'nm1232663'),
 ('nm0538320', 'nm1092086', 'nm3012172'),
 ('nm0538320', 'nm1092086', 'nm1386659'),
 ('nm0538320', 'nm1092086', 'nm1340738'),
 ('nm0538320', 'nm1092086', 'nm0993109'),
 ('nm0538320', 'nm1092086', 'nm2857778'),
 ('nm0538320', 'nm1092086', 'nm3083352'),
 ('nm0538320', 'nm1092086', 'nm1456970'),
 ('nm0538320', 'nm1092086', 'nm2128467'),
 ('nm0538320', 'nm1092086', 'nm0167941'),
 ('nm0538320', 'nm1092086', 'nm0796676'),
 ('nm0538320', 'nm1092086', 'nm0723415'),
 ('nm0538320', 'nm1092086', 'nm0951148'),
 ('nm0538320', 'nm1092086', 'nm2832695'),
 ('nm0538320', 'nm1092086', 'nm1506908'),
 ('nm0538320', 'nm1092086', 'nm2128238'),
 ('nm0538320', 'nm1092086', 'nm0765251'),
 ('nm0538320', 'nm1092086', 'nm1509090'),
 ('nm0538320', 'nm1092086', 'nm0240380'),
 ('nm0538320', 'nm1092086', 'nm0014605'),
 ('nm0538320', 'nm1092086', 'nm0492345'),
 ('nm0538320', 'nm1092086', 'nm3220515'),
 ('nm0538320', 'nm1092086', 'nm2972478'),
 ('nm0538320', 'nm1092086', 'nm1597542'),
 ('nm0538320', 'nm1092086', 'nm2377131'),
 ('nm0538320', 'nm1092086', 'nm0441384'),
 ('nm0538320', 'nm1092086', 'nm3872330'),
 ('nm0538320', 'nm1092086', 'nm2628347'),
 ('nm0538320', 'nm1069415', 'nm0387581'),
 ('nm0538320', 'nm1069415', 'nm1137209'),
 ('nm0538320', 'nm1069415', 'nm2570245'),
 ('nm0538320', 'nm1069415', 'nm1489950'),
 ('nm0538320', 'nm1069415', 'nm3345824'),
 ('nm0538320', 'nm1069415', 'nm1432049'),
 ('nm0538320', 'nm1069415', 'nm0594497'),
 ('nm0538320', 'nm1069415', 'nm1659547'),
 ('nm0538320', 'nm1069415', 'nm0461136'),
 ('nm0538320', 'nm1069415', 'nm0836684'),
 ('nm0538320', 'nm1069415', 'nm1913734'),
 ('nm0538320', 'nm1069415', 'nm0288800'),
 ('nm0538320', 'nm1069415', 'nm0880367'),
 ('nm0538320', 'nm1069415', 'nm0447695'),
 ('nm0538320', 'nm1069415', 'nm1999369'),
 ('nm0538320', 'nm1069415', 'nm1821791'),
 ('nm0538320', 'nm1069415', 'nm2401938'),
 ('nm0538320', 'nm1069415', 'nm3949541'),
 ('nm0538320', 'nm1069415', 'nm3708145'),
 ('nm0538320', 'nm1069415', 'nm2933757'),
 ('nm0538320', 'nm1069415', 'nm0683467'),
 ('nm0538320', 'nm1069415', 'nm2244205'),
 ('nm0538320', 'nm1069415', 'nm4533391'),
 ('nm0538320', 'nm1069415', 'nm0466936'),
 ('nm0538320', 'nm1069415', 'nm1480573'),
 ('nm0538320', 'nm1069415', 'nm1031534'),
 ('nm0538320', 'nm1069415', 'nm3338354'),
 ('nm0538320', 'nm1069415', 'nm0495799'),
 ('nm0538320', 'nm1069415', 'nm2706397'),
 ('nm0538320', 'nm1069415', 'nm2611074'),
 ('nm0538320', 'nm1069415', 'nm2349395'),
 ('nm0538320', 'nm1069415', 'nm4668046'),
 ('nm0538320', 'nm1069415', 'nm4663937'),
 ('nm0538320', 'nm1069415', 'nm2726899'),
 ('nm0538320', 'nm1069415', 'nm4023073'),
 ('nm0538320', 'nm1069415', 'nm0115671'),
 ('nm0538320', 'nm1069415', 'nm4439530'),
 ('nm0538320', 'nm1069415', 'nm2596365'),
 ('nm0538320', 'nm1069415', 'nm2429015'),
 ('nm0538320', 'nm1069415', 'nm1221906'),
 ('nm0538320', 'nm1069415', 'nm3118731'),
 ('nm0538320', 'nm1069415', 'nm0273451'),
 ('nm0538320', 'nm1069415', 'nm0556344'),
 ('nm0538320', 'nm1069415', 'nm0956526'),
 ('nm0538320', 'nm1069415', 'nm1785575'),
 ('nm0538320', 'nm1069415', 'nm2251716'),
 ('nm0538320', 'nm1069415', 'nm1995372'),
 ('nm0538320', 'nm1069415', 'nm1919629'),
 ('nm0538320', 'nm1069415', 'nm4410856'),
 ('nm0538320', 'nm1069415', 'nm1328076'),
 ('nm0538320', 'nm1069415', 'nm0792354'),
 ('nm0538320', 'nm1069415', 'nm1232663'),
 ('nm0538320', 'nm1069415', 'nm3012172'),
 ('nm0538320', 'nm1069415', 'nm1386659'),
 ('nm0538320', 'nm1069415', 'nm1340738'),
 ('nm0538320', 'nm1069415', 'nm0993109'),
 ('nm0538320', 'nm1069415', 'nm2857778'),
 ('nm0538320', 'nm1069415', 'nm3083352'),
 ('nm0538320', 'nm1069415', 'nm1456970'),
 ('nm0538320', 'nm1069415', 'nm2128467'),
 ('nm0538320', 'nm1069415', 'nm0167941'),
 ('nm0538320', 'nm1069415', 'nm0796676'),
 ('nm0538320', 'nm1069415', 'nm0723415'),
 ('nm0538320', 'nm1069415', 'nm0951148'),
 ('nm0538320', 'nm1069415', 'nm2832695'),
 ('nm0538320', 'nm1069415', 'nm1506908'),
 ('nm0538320', 'nm1069415', 'nm2128238'),
 ('nm0538320', 'nm1069415', 'nm0765251'),
 ('nm0538320', 'nm1069415', 'nm1509090'),
 ('nm0538320', 'nm1069415', 'nm0240380'),
 ('nm0538320', 'nm1069415', 'nm0014605'),
 ('nm0538320', 'nm1069415', 'nm0492345'),
 ('nm0538320', 'nm1069415', 'nm3220515'),
 ('nm0538320', 'nm1069415', 'nm2972478'),
 ('nm0538320', 'nm1069415', 'nm1597542'),
 ('nm0538320', 'nm1069415', 'nm2377131'),
 ('nm0538320', 'nm1069415', 'nm0441384'),
 ('nm0538320', 'nm1069415', 'nm3872330'),
 ('nm0538320', 'nm1069415', 'nm2628347'),
 ('nm0538320', 'nm0836137', 'nm0387581'),
 ('nm0538320', 'nm0836137', 'nm1137209'),
 ('nm0538320', 'nm0836137', 'nm2570245'),
 ('nm0538320', 'nm0836137', 'nm1489950'),
 ('nm0538320', 'nm0836137', 'nm3345824'),
 ('nm0538320', 'nm0836137', 'nm1432049'),
 ('nm0538320', 'nm0836137', 'nm0594497'),
 ('nm0538320', 'nm0836137', 'nm1659547'),
 ('nm0538320', 'nm0836137', 'nm0461136'),
 ('nm0538320', 'nm0836137', 'nm0836684'),
 ('nm0538320', 'nm0836137', 'nm1913734'),
 ('nm0538320', 'nm0836137', 'nm0288800'),
 ('nm0538320', 'nm0836137', 'nm0880367'),
 ('nm0538320', 'nm0836137', 'nm0447695'),
 ('nm0538320', 'nm0836137', 'nm1999369'),
 ('nm0538320', 'nm0836137', 'nm1821791'),
 ('nm0538320', 'nm0836137', 'nm2401938'),
 ('nm0538320', 'nm0836137', 'nm3949541'),
 ('nm0538320', 'nm0836137', 'nm3708145'),
 ('nm0538320', 'nm0836137', 'nm2933757'),
 ('nm0538320', 'nm0836137', 'nm0683467'),
 ('nm0538320', 'nm0836137', 'nm2244205'),
 ('nm0538320', 'nm0836137', 'nm4533391'),
 ('nm0538320', 'nm0836137', 'nm0466936'),
 ('nm0538320', 'nm0836137', 'nm1480573'),
 ('nm0538320', 'nm0836137', 'nm1031534'),
 ('nm0538320', 'nm0836137', 'nm3338354'),
 ('nm0538320', 'nm0836137', 'nm0495799'),
 ('nm0538320', 'nm0836137', 'nm2706397'),
 ('nm0538320', 'nm0836137', 'nm2611074'),
 ('nm0538320', 'nm0836137', 'nm2349395'),
 ('nm0538320', 'nm0836137', 'nm4668046'),
 ('nm0538320', 'nm0836137', 'nm4663937'),
 ('nm0538320', 'nm0836137', 'nm2726899'),
 ('nm0538320', 'nm0836137', 'nm4023073'),
 ('nm0538320', 'nm0836137', 'nm0115671'),
 ('nm0538320', 'nm0836137', 'nm4439530'),
 ('nm0538320', 'nm0836137', 'nm2596365'),
 ('nm0538320', 'nm0836137', 'nm2429015'),
 ('nm0538320', 'nm0836137', 'nm1221906'),
 ('nm0538320', 'nm0836137', 'nm3118731'),
 ('nm0538320', 'nm0836137', 'nm0273451'),
 ('nm0538320', 'nm0836137', 'nm0556344'),
 ('nm0538320', 'nm0836137', 'nm0956526'),
 ('nm0538320', 'nm0836137', 'nm1785575'),
 ('nm0538320', 'nm0836137', 'nm2251716'),
 ('nm0538320', 'nm0836137', 'nm1995372'),
 ('nm0538320', 'nm0836137', 'nm1919629'),
 ('nm0538320', 'nm0836137', 'nm4410856'),
 ('nm0538320', 'nm0836137', 'nm1328076'),
 ('nm0538320', 'nm0836137', 'nm0792354'),
 ('nm0538320', 'nm0836137', 'nm1232663'),
 ('nm0538320', 'nm0836137', 'nm3012172'),
 ('nm0538320', 'nm0836137', 'nm1386659'),
 ('nm0538320', 'nm0836137', 'nm1340738'),
 ('nm0538320', 'nm0836137', 'nm0993109'),
 ('nm0538320', 'nm0836137', 'nm2857778'),
 ('nm0538320', 'nm0836137', 'nm3083352'),
 ('nm0538320', 'nm0836137', 'nm1456970'),
 ('nm0538320', 'nm0836137', 'nm2128467'),
 ('nm0538320', 'nm0836137', 'nm0167941'),
 ('nm0538320', 'nm0836137', 'nm0796676'),
 ('nm0538320', 'nm0836137', 'nm0723415'),
 ('nm0538320', 'nm0836137', 'nm0951148'),
 ('nm0538320', 'nm0836137', 'nm2832695'),
 ('nm0538320', 'nm0836137', 'nm1506908'),
 ('nm0538320', 'nm0836137', 'nm2128238'),
 ('nm0538320', 'nm0836137', 'nm0765251'),
 ('nm0538320', 'nm0836137', 'nm1509090'),
 ('nm0538320', 'nm0836137', 'nm0240380'),
 ('nm0538320', 'nm0836137', 'nm0014605'),
 ('nm0538320', 'nm0836137', 'nm0492345'),
 ('nm0538320', 'nm0836137', 'nm3220515'),
 ('nm0538320', 'nm0836137', 'nm2972478'),
 ('nm0538320', 'nm0836137', 'nm1597542'),
 ('nm0538320', 'nm0836137', 'nm2377131'),
 ('nm0538320', 'nm0836137', 'nm0441384'),
 ('nm0538320', 'nm0836137', 'nm3872330'),
 ('nm0538320', 'nm0836137', 'nm2628347'),
 ('nm0538320', 'nm0246585', 'nm0387581'),
 ('nm0538320', 'nm0246585', 'nm1137209'),

In [12]:
data=pd.DataFrame(Id_list)
data

                 0          1          2
0        nm0538320  nm1310016  nm0387581
1        nm0538320  nm1310016  nm1137209
2        nm0538320  nm1310016  nm2570245
3        nm0538320  nm1310016  nm1489950
4        nm0538320  nm1310016  nm3345824
...            ...        ...        ...
1994350  nm0951420  nm0042971  nm1597542
1994351  nm0951420  nm0042971  nm2377131
1994352  nm0951420  nm0042971  nm0441384
1994353  nm0951420  nm0042971  nm3872330
1994354  nm0951420  nm0042971  nm2628347

[1994355 rows x 3 columns]

In [14]:
data.iloc[i]

0    nm0538320
1    nm1310016
2    nm2570245
Name: 2, dtype: object

In [13]:
%%time
#All of the {}_actor.tsv with each other 
Id1=[]
Id2=[]
score=[]
for i in range(len(IDs)):
    for j in range(len(IDs[i])):
        for m in range(i+1,len(IDs)):
            if (i+1)<(len(IDs)):
                for k in range(len(IDs[m])):
                    a=IDs[i][j]
                    b=IDs[m][k]
                    Id1.append(a)
                    Id2.append(b)
                    score.append(relation_score(a,b,new_graph))
                    #Id.append(dic)

Wall time: 1min 33s

In [14]:
d1=pd.DataFrame({'ID1': Id1, 'ID2' : Id2, 'Score': score})
d1

             ID1        ID2  Score
0      nm0538320  nm1310016    0.0
1      nm0538320  nm0411692    0.0
2      nm0538320  nm0098709    0.0
3      nm0538320  nm1092086    0.0
4      nm0538320  nm1069415    0.0
...          ...        ...    ...
50678  nm0042971  nm1597542    0.0
50679  nm0042971  nm2377131    0.0
50680  nm0042971  nm0441384    0.0
50681  nm0042971  nm3872330    0.0
50682  nm0042971  nm2628347    0.0

[50683 rows x 3 columns]

In [15]:
new_data=data

In [16]:
new_data['r_score']=0.0
new_data

                 0          1          2  r_score
0        nm0538320  nm1310016  nm0387581      0.0
1        nm0538320  nm1310016  nm1137209      0.0
2        nm0538320  nm1310016  nm2570245      0.0
3        nm0538320  nm1310016  nm1489950      0.0
4        nm0538320  nm1310016  nm3345824      0.0
...            ...        ...        ...      ...
1994350  nm0951420  nm0042971  nm1597542      0.0
1994351  nm0951420  nm0042971  nm2377131      0.0
1994352  nm0951420  nm0042971  nm0441384      0.0
1994353  nm0951420  nm0042971  nm3872330      0.0
1994354  nm0951420  nm0042971  nm2628347      0.0

[1994355 rows x 4 columns]

In [17]:
for i in range(len(li)):
    for j in range(i,len(li)):
        if (j+1)<(len(IDs)):
            new_data=pd.merge(new_data,d1, how='inner', left_on=[i,j+1], right_on=['ID1','ID2'])
            new_data['r_score']=new_data['r_score']+new_data['Score']
            new_data=new_data.drop(['ID1','ID2','Score'],axis=1)

In [18]:
new_data['r_score']=new_data['r_score']/len(li)
new_data

                 0          1          2  r_score
0        nm0538320  nm1310016  nm0387581      0.0
1        nm0434596  nm1310016  nm0387581      0.0
2        nm0477209  nm1310016  nm0387581      0.0
3        nm0451148  nm1310016  nm0387581      0.0
4        nm0072949  nm1310016  nm0387581      0.0
...            ...        ...        ...      ...
1994350  nm0382582  nm0042971  nm2628347      0.0
1994351  nm0631792  nm0042971  nm2628347      0.0
1994352  nm1273864  nm0042971  nm2628347      0.0
1994353  nm2428088  nm0042971  nm2628347      0.0
1994354  nm0951420  nm0042971  nm2628347      0.0

[1994355 rows x 4 columns]

In [19]:
#Removing all zero scored values
new_data=new_data.loc[(new_data['r_score']!=0)]
#Sorting 
new_data=new_data.sort_values(by='r_score', ascending=False)
new_data

                 0          1          2   r_score
218516   nm0298807  nm0199215  nm0461136  9.100000
51270    nm0695177  nm1069415  nm2570245  8.900000
381699   nm0695177  nm1421814  nm1821791  8.866667
379455   nm0695177  nm1069415  nm1821791  8.833333
54823    nm0695177  nm1121870  nm2570245  8.783333
...            ...        ...        ...       ...
1744579  nm0000221  nm0006801  nm0240380  2.300000
1755238  nm0000221  nm0530917  nm0240380  2.300000
1744392  nm0000221  nm2590720  nm0240380  2.300000
1744205  nm0000221  nm1243922  nm0240380  2.300000
1743270  nm0000221  nm0002364  nm0240380  2.300000

[14920 rows x 4 columns]

In [20]:
df=new_data
for i in range(len(li)):
    df=pd.merge(df,li[i], how='inner', left_on=i, right_on='Actor ID')
    sname=('score_{}'.format(i))
    df[sname]=df['score']
    df=df.drop(['Actor ID', 'Avg Genre Score', 'summary_score', 'score'], axis=1)
df

               0          1          2   r_score   score_0   score_1   score_2
0      nm0298807  nm0199215  nm0461136  9.100000  4.952534  4.676842  5.459207
1      nm0695177  nm0199215  nm0461136  3.033333  5.577139  4.676842  5.459207
2      nm0451148  nm0199215  nm0461136  3.033333  6.107729  4.676842  5.459207
3      nm0151419  nm0199215  nm0461136  3.033333  5.546337  4.676842  5.459207
4      nm0451561  nm0199215  nm0461136  3.033333  5.140691  4.676842  5.459207
...          ...        ...        ...       ...       ...       ...       ...
14915  nm0954704  nm0171499  nm2401938  2.641667  5.471506  4.935976  5.254400
14916  nm0494078  nm0171499  nm2401938  2.500000  5.406599  4.935976  5.254400
14917  nm0474609  nm3901368  nm2401938  2.550000  5.422396  5.021228  5.254400
14918  nm0000375  nm0001497  nm2401938  2.883333  6.054155  5.025677  5.254400
14919  nm0576960  nm0001497  nm2401938  2.683333  5.475246  5.025677  5.254400

[14920 rows x 7 columns]

In [21]:
sname=[]
for i in range(len(li)):
    sname.append(('score_{}'.format(i)))
    
col = df.loc[: , sname]
df['gs_score'] = col.mean(axis=1)
df

,0,1,2,r_score,score_0,score_1,score_2,gs_score
0,nm0298807,nm0199215,nm0461136,9.100000,4.952534,4.676842,5.459207,5.029528
1,nm0695177,nm0199215,nm0461136,3.033333,5.577139,4.676842,5.459207,5.237729
2,nm0451148,nm0199215,nm0461136,3.033333,6.107729,4.676842,5.459207,5.414593
3,nm0151419,nm0199215,nm0461136,3.033333,5.546337,4.676842,5.459207,5.227462
4,nm0451561,nm0199215,nm0461136,3.033333,5.140691,4.676842,5.459207,5.092246
...,...,...,...,...,...,...,...,...
14915,nm0954704,nm0171499,nm2401938,2.641667,5.471506,4.935976,5.254400,5.220627
14916,nm0494078,nm0171499,nm2401938,2.500000,5.406599,4.935976,5.254400,5.198992
14917,nm0474609,nm3901368,nm2401938,2.550000,5.422396,5.021228,5.254400,5.232675
14918,nm0000375,nm0001497,nm2401938,2.883333,6.054155,5.025677,5.254400,5.444744
14919,nm0576960,nm0001497,nm2401938,2.683333,5.475246,5.025677,5.254400,5.251775

In [22]:
df['final'] = df[["r_score","gs_score"]].mean(axis=1)
col_list=[i for i in range(len(li))]
col_list.append('final')
final_df=df[col_list]
final_df=final_df.sort_values(by='final', ascending=False)
final_df

               0          1          2     final
3152   nm0695177  nm1069415  nm2570245  7.329529
2882   nm0695177  nm1121870  nm2570245  7.211400
8856   nm0695177  nm1069415  nm1821791  7.195217
9274   nm0695177  nm1421814  nm1821791  7.162042
3375   nm0695177  nm1421814  nm2570245  7.158854
...          ...        ...        ...       ...
11605  nm1273864  nm0603352  nm1999369  3.217769
11606  nm2428088  nm0603352  nm1999369  3.217325
11607  nm0951420  nm0603352  nm1999369  3.202812
11897  nm0000221  nm0042971  nm0240380  3.173235
13517  nm0438503  nm0042971  nm2128238  3.132276

[14920 rows x 4 columns]

In [23]:
final_df.to_csv('../data/final3_allvalues_latest.tsv', sep= '\t', header=True)